wf/AUDIO REGISTRAZIONI.json
{"createdAt":"2025-07-29T15:05:39.722Z","updatedAt":"2025-07-29T20:52:43.000Z","id":"CKBcwWZQcQfM7t4J","name":"AUDIO REGISTRAZIONI","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1Lwr26vLOKCbLsHYnHZCoAWBdV3FmheP-","mode":"list","cachedResultName":"Audio","cachedResultUrl":"https://drive.google.com/drive/folders/1Lwr26vLOKCbLsHYnHZCoAWBdV3FmheP-"}},"options":{"fields":["mimeType","id","name"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[208,0],"id":"be06ed7d-b2f4-45f1-a040-b5339856cd01","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"969bae85-cfea-4d7d-8b60-f891ac0bd74c","name":"file_estensione","value":"={{ $json.name.split('.').pop() }}","type":"string"},{"id":"24266d34-de74-4bd8-bd11-b43371298595","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"67b3ad52-09e3-4a34-adbb-3490587a711c","name":"file_name","value":"={{ $json.name }}","type":"string"},{"id":"b4462f60-2b60-4560-b3a4-04e4ba61739c","name":"argomento","value":"={{ $json.name.split('.')[0]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"1cf7cf23-fb97-4b1c-8953-9bc0dbd9d96c","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,0],"id":"eb255f4a-c114-4e91-988c-55c2a1d28703","name":"Loop Over Items"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.file_estensione }}","rightValue":"md","operator":{"type":"string","operation":"equals"},"id":"fb88c3dd-1a27-45ee-975b-f2ad7bb925f0"}],"combinator":"and"},"renameOutput":true,"outputKey":"OBSIDIAN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72f5b11b-93ce-440c-80c5-859e9f6a32e0","leftValue":"={{ $json.file_estensione }}","rightValue":"mp3","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AUDIO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[880,64],"id":"26bcf029-be0d-4f54-bbec-f1a727b4fadb","name":"Switch"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{"fileName":"={{ $json.file_name }}"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,128],"id":"238067be-ae6f-4943-bad3-7fc90507e56e","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"operation":"upload","bucketName":"alet313","fileName":"=docs/2025/{{ $('Switch').item.json.file_name }}","additionalFields":{}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[1328,128],"id":"1c6f4512-8951-46a7-9382-e11fb84a19cf","name":"Upload a file","credentials":{"aws":{"id":"mX49AAxCSrUqGZkZ","name":"AWS account"}}},{"parameters":{"chatId":"40281969","text":"=ho gestito il tuo lavoro AUDIO specificamente sul task {{ $('Edit Fields').item.json.argomento }}.\n\nla trascrizione della nota .md è stata inserita in drive (n8n obsidian) e sarà smistata. intanto puoi vederla [qui]({{ $('Loop Over Items').item.json.webViewLink }})\n\nil file audio è stato inviato a s3 e puoi ascoltarlo [qui]({{ $('Upload a file').item.json.Location }})","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,-208],"id":"b1e7917d-5632-47a3-ab2f-074fb09ae64b","name":"Send a text message","webhookId":"a247e4d5-597c-4fe9-9434-418e183b0e5c","credentials":{"telegramApi":{"id":"F7ZoudlMo9As5nHs","name":"Telegram account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('Download file').item.json.file_id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1zNKAqPe-vo2VFiZZE4sVXC5JTgQ2qR61","mode":"list","cachedResultName":"CLOACA","cachedResultUrl":"https://drive.google.com/drive/folders/1zNKAqPe-vo2VFiZZE4sVXC5JTgQ2qR61"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1504,128],"id":"d2e21037-db31-40c0-9b0b-82595d8c9e55","name":"Move file","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1696,16],"id":"033f8a44-ef27-428b-8e86-4d7fc6cf5d13","name":"Merge"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1168r8DSzXksgK8T6PbMv_rWFpvWCBSDG","mode":"list","cachedResultName":"N8N OBSIDIAN","cachedResultUrl":"https://drive.google.com/drive/folders/1168r8DSzXksgK8T6PbMv_rWFpvWCBSDG"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,-32],"id":"c5294bf4-1852-4c8f-afff-e9d61188faa9","name":"Move file1","alwaysOutputData":false,"credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"fields":["webViewLink"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1328,-32],"id":"796cc4a1-de2f-44f2-be85-66836e81944b","name":"Update file","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[32,-16],"id":"96cc0a62-8a48-43d6-846f-7669ac232210","name":"When Executed by Another Workflow"}],"connections":{"Search files and folders":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Move file1","type":"main","index":0}],[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Move file","type":"main","index":0}]]},"Move file":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a text message":{"main":[[]]},"Move file1":{"main":[[{"node":"Update file","type":"main","index":0}]]},"Update file":{"main":[[{"node":"Merge","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"74e93466-e283-456b-a24e-cf43d5abf835","triggerCount":0,"tags":[]}