wf/BACKUP WORKFLOW.json
{"createdAt":"2025-07-29T19:56:26.129Z","updatedAt":"2025-07-30T09:06:12.000Z","id":"3hA1rFkvXGb4bG4W","name":"BACKUP WORKFLOW","active":true,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"repo.owner","value":"mbhrlive"},{"name":"repo.name","value":"n8n_workflows"},{"name":"repo.path","value":"wf/"}]},"options":{}},"id":"6533a7a0-37a7-41d6-bec7-925718f9499b","name":"Globals","type":"n8n-nodes-base.set","position":[-176,112],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"f28a67a1-5443-445d-9854-3fba530111a9","name":"n8n","type":"n8n-nodes-base.n8n","position":[64,112],"typeVersion":1,"credentials":{"n8nApi":{"id":"SpIOPQHtFrxjYa1I","name":"n8n account"}}},{"parameters":{"options":{}},"id":"4aba160d-170a-4d7f-92fc-9e975cdb9fa9","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[288,112],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"b80699e0-f3a1-4e9d-87e3-de05efd3055a","name":"If","type":"n8n-nodes-base.if","position":[720,192],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"e76b8c08-586e-4e29-b67c-ae97d6d825fa","name":"If1","type":"n8n-nodes-base.if","position":[1600,464],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"0f42ebbe-fe57-4562-9a4a-9395334d4d3d","name":"Code","type":"n8n-nodes-base.code","position":[1280,160],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"4f471e91-b1a6-4c65-a850-4981c6e8e9cb","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[912,352],"typeVersion":1,"webhookId":"ba235e90-e2f4-42aa-a4a6-c33d4b801891","credentials":{"githubApi":{"id":"GVCqpUlr2Ua5VPBw","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"188327f2-e730-4bd8-9030-f84b79ce7825","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1968,672],"typeVersion":1,"webhookId":"ee1389b2-7615-482e-ad18-25cea7412c27","credentials":{"githubApi":{"id":"GVCqpUlr2Ua5VPBw","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"4134435e-cd6b-478f-946f-22c29a274f72","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-400,112],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"2ebff8c1-38f1-4117-9496-e0f3f40de010","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2128,688],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"87eda6fe-046d-45be-8e86-27464b6e9db0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1744,464],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"91eee3eb-f603-4435-b1e6-1a6a79895798","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1024,368],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"2f143145-390a-4cd9-92d7-e0f31255fe23","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[720,80],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"87194cb6-26d7-4d1c-917b-2306fb7180af","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1232,64],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"0075ecac-651a-4cf9-950f-1e7f14d807b2","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"5766408c-3860-460c-93f8-3c3608c711f8","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-256,240],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"7f7c7264-2303-4e71-9122-89e1074aed3e","name":"Get a file","type":"n8n-nodes-base.github","position":[528,192],"typeVersion":1,"alwaysOutputData":true,"webhookId":"735ee37f-b5b0-4bfa-84d6-649fa7ee9970","credentials":{"githubApi":{"id":"GVCqpUlr2Ua5VPBw","name":"GitHub account"}},"continueOnFail":true}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"141b0ee5-0ea8-47f4-a43b-75d915b12211","triggerCount":1,"tags":[]}