wf/doc analysis.json
{"createdAt":"2025-07-16T06:39:46.048Z","updatedAt":"2025-07-16T15:05:42.000Z","id":"cvlilCsFkMHYtZaI","name":"doc analysis","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-688,144],"id":"e506f87a-3492-483b-81b0-e90d172f923e","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"aAtLFvhojlgJnJxe","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e9c62ca-4e23-45a9-85c3-e3921e1db218","leftValue":"={{ $json.subject }}","rightValue":"XYZ","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-448,336],"id":"0b98acb3-8561-4ba4-9c23-f29141b9bbaf","name":"Filter"},{"parameters":{"promptType":"define","text":"=devi analizzare i documenti che ricevi in input ({{ $json.pdfBase64 }}).\nFai una sintesi strutturata e ben leggibile da celluare (con \"a capo\" e grassetti) che risponda ai seguenti criteri:\n- numeri chiave: estrai tutte le percentuali, cifre, quantità e dati statistici rilevanti\n- elementi sorprendenti o critici: evidenzia eventuali contraddizioni, risultati inaspettati, punti deboli o forti dell'analisi\n- implicazioni pratiche: cosa si può fare con queste informazioni? perché sono importanti?\n- frasi da citare: se ci sono frasi particolarmente incisive o rappresentative, mettile fra virgolette\n- sintesi schematica: dividi per capitoli o temi, ma riassumi con bullet point e linguaggio concreto, evitando frasi vaghe o da riempitivo.\n\nEvita linguaggio burocratico o scolastico e rendi la sintesi leggibile  e utile anche per chi non leggerà mai il documento intero.\n\nManda una email con la tua sintesi usando il tool collegato","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[224,272],"id":"8ea43af2-4796-44a5-a87d-0979829785e9","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[208,480],"id":"0e7d2b43-e72f-4571-9a7d-7fd241366688","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qUMJt5QWAuhALJmk","name":"OpenAi account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Prendi il nome del file dal nodo precedente\nconst fileName = $('Filter').first().json.attachment_0;\n\n// Usa la funzione helper di n8n per ottenere il buffer binario\nconst binaryDataBuffer = await this.helpers.getBinaryDataBuffer(0, 'attachment_0');\n\n// Converti in base64\nconst base64Data = Buffer.from(binaryDataBuffer).toString('base64');\n\nreturn {\n  json: {\n    pdfBase64: base64Data,\n    fileName: fileName\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,304],"id":"0d6802aa-8fb2-4120-9be6-98d8188f44aa","name":"Code","notesInFlow":true,"notes":"trasforma base64"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-384,-32],"id":"930232b4-5656-4400-ad58-c1a457a4f662","name":"Download Message","webhookId":"25fdb28c-fc5f-4b25-80e8-cf92d0f5ba4e","credentials":{"gmailOAuth2":{"id":"aAtLFvhojlgJnJxe","name":"Gmail account"}},"disabled":true},{"parameters":{"inputDataFieldName":"attachment_0","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1yASOrsA27Yg0MKIkrt3gNyTgG6Eb3hKy","mode":"list","cachedResultName":"DOC INPUT","cachedResultUrl":"https://drive.google.com/drive/folders/1yASOrsA27Yg0MKIkrt3gNyTgG6Eb3hKy"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-16,16],"id":"f40b34a1-f71a-403e-ac21-78ba5060e24d","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"sendTo":"={{ $('Download Message').item.json.to.value[0].address }}","subject":"=Analysis of document","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[464,480],"id":"a43cf3c2-d0f8-4f82-93e8-c313c65169d0","name":"Send a message in Gmail","webhookId":"ed3cb12c-1859-4fa1-bac8-50a973dd48ac","credentials":{"gmailOAuth2":{"id":"aAtLFvhojlgJnJxe","name":"Gmail account"}}},{"parameters":{},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[192,16],"id":"aeea159c-923e-4fb5-b928-f57701126f36","name":"Create a document"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Upload file","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download Message":{"main":[[]]},"Send a message in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Upload file":{"main":[[{"node":"Create a document","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ebae8a02-472e-4952-b8c7-59af5015d59e","triggerCount":0,"tags":[]}