wf/ESEMPIO -Subworkflow.json
{"createdAt":"2025-07-24T07:54:37.812Z","updatedAt":"2025-07-24T08:14:56.000Z","id":"GK09wBnbAnW5Acr8","name":"ESEMPIO -Subworkflow","active":false,"isArchived":true,"nodes":[{"parameters":{"jsCode":"const items = $input.all();\nconsole.log('Ricevuto:', items);\nreturn items;"},"id":"7712f507-069c-47f1-abf3-b3e71c1e1248","name":"Code","type":"n8n-nodes-base.code","typeVersion":1,"position":[0,0]},{"parameters":{"values":{"string":[{"name":"verifica","value":"={{$json.text}}"}]},"options":{}},"id":"ed3d5ddf-1cb7-4954-aa70-1888de40cd98","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[208,0]},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,16],"id":"2075032d-05e9-432f-93bd-aa8f50bc351b","name":"When Executed by Another Workflow"}],"connections":{"Code":{"main":[[{"node":"Set","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"da2fb0fc-01ea-4710-be23-7b4089344ef7","triggerCount":0,"tags":[]}