wf/FANTA ANALYSIS.json
{"createdAt":"2025-08-03T05:37:18.070Z","updatedAt":"2025-08-03T05:57:04.000Z","id":"2D0ZWoIBUtGCmUMB","name":"FANTA ANALYSIS","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"3e7210d9-2d75-4241-b7e4-2f5d061fcc65","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM","mode":"list","cachedResultName":"Fanta2526-players","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[208,0],"id":"80ec533f-bf5f-40a5-b9f8-51c92d8de4b3","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"model":"sonar","messages":{"message":[{"content":"=Analizza il calciatore che ti arriva in input\n{{ $json.calciatore }}\ne verifica notizie dell'ultima settimana su siti di informazione e su siti di fantacalcio il \"sentiment\" a riguardo.\nFocalizzati su tre punti cercando notizie e sentiment su come SARA' più che su come è STATO:\n1) E' un potenziale buon giocatore (gol assist?).\n2) Analizza la sua titolarità. Quanta concorrenza ha nel ruolo in squadra? sarà molte volte titolare?\n3) Guarda anche la sua resistenza agli infortuni\nMetti i link di riferimento direttamente nel testo.\n\nin calce al messaggio riporta la data di elaborazione {{ $now }}\n"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[800,16],"id":"c6a0d78d-c40c-4849-a71c-ecce5056fb73","name":"Message a model","credentials":{"perplexityApi":{"id":"YUFzaWLAMOrfk9At","name":"Perplexity account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[384,-80],"id":"19e1e10f-58d9-4f8f-9ec9-f85ac10fc895","name":"Loop Over Items"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM","mode":"list","cachedResultName":"Fanta2526-players","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"report":"={{ $json.choices[0].message.content }}","calciatore":"={{ $('Get row(s) in sheet').item.json.calciatore }}"},"matchingColumns":["calciatore"],"schema":[{"id":"calciatore","displayName":"calciatore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"squadra","displayName":"squadra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ruolo C","displayName":"ruolo C","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ruolo M","displayName":"ruolo M","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"report","displayName":"report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1008,16],"id":"264bd81e-3877-42b6-bed7-2c0a2716c035","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=il file in allegato contiene una serie di righe. C'è un calciatore per ogni riga con alcune informazioni e infine un report. Analizzando tutto il file, evidenziami (per ogni \"ruolo C\") il miglior prospetto da osservare e dammi 3 motivi per farlo."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[672,-224],"id":"1c99f8c8-f3a4-4e83-9233-01822c494969","name":"Message a model1","credentials":{"openAiApi":{"id":"qUMJt5QWAuhALJmk","name":"OpenAi account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM","mode":"list","cachedResultName":"Fanta2526-players","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1040,-160],"id":"76798a09-b2a8-4ec0-8918-bc18173b6b70","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"operation":"createFromText","name":"Fanta Report ","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1168r8DSzXksgK8T6PbMv_rWFpvWCBSDG","mode":"list","cachedResultName":"N8N OBSIDIAN","cachedResultUrl":"https://drive.google.com/drive/folders/1168r8DSzXksgK8T6PbMv_rWFpvWCBSDG"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1216,-336],"id":"cf2d9353-1815-4a2d-9aaa-b2a3ea07fe53","name":"Create file from text","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Drive MBHR"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Message a model1","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"Message a model1","type":"ai_tool","index":0}]]},"Message a model1":{"main":[[{"node":"Create file from text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f160b05a-e9fe-4253-ac57-2e534ee6ef5b","triggerCount":0,"tags":[]}