wf/FANTA ANALYSIS.json
{"createdAt":"2025-08-03T05:37:18.070Z","updatedAt":"2025-08-04T03:51:31.000Z","id":"2D0ZWoIBUtGCmUMB","name":"FANTA ANALYSIS","active":true,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM","mode":"list","cachedResultName":"Fanta2526-players","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-496,-64],"id":"80ec533f-bf5f-40a5-b9f8-51c92d8de4b3","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"model":"sonar","messages":{"message":[{"content":"=Analizza il calciatore che ti arriva in input:\n{{ $json.calciatore }}\n\ne verifica notizie recenti su siti di informazione e su siti di fantacalcio il \"sentiment\" a riguardo.\nFocalizzati su tre punti cercando notizie e sentiment su come SARA' più che su come è STATO:\n1) E' un potenziale buon giocatore (gol assist?).\n2) Analizza la sua titolarità. Quanta concorrenza avrà nel ruolo in squadra? sarà molte volte titolare?\n3) Guarda anche la sua resistenza agli infortuni\n\nNon inserire le fonti nel tuo output.\n\nin calce al messaggio riporta la data di elaborazione {{ $now }}\n"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[800,208],"id":"c6a0d78d-c40c-4849-a71c-ecce5056fb73","name":"Message a model","credentials":{"perplexityApi":{"id":"YUFzaWLAMOrfk9At","name":"Perplexity account"}}},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[368,128],"id":"19e1e10f-58d9-4f8f-9ec9-f85ac10fc895","name":"Loop Over Items"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM","mode":"list","cachedResultName":"Fanta2526-players","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"report":"={{ $json.choices[0].message.content }}","calciatore":"={{ $('Loop Over Items').item.json.calciatore }}"},"matchingColumns":["calciatore"],"schema":[{"id":"calciatore","displayName":"calciatore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"squadra","displayName":"squadra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ruolo C","displayName":"ruolo C","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ruolo M","displayName":"ruolo M","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"report","displayName":"report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[976,208],"id":"264bd81e-3877-42b6-bed7-2c0a2716c035","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e2247fb-811e-4703-b438-690085e59c39","leftValue":"={{ $json.calciatore }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[16,16],"id":"cbc3a44c-ae27-4c10-a016-baa2a17a244d","name":"Filter"},{"parameters":{"path":"trigger_fanta","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-736,-64],"id":"17745cb7-34c1-4543-8a13-543df9a84ef6","name":"Webhook","webhookId":"066ab923-6a92-4beb-a2c0-dd8074fc21c3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.query.action }}","rightValue":"selective","operator":{"type":"string","operation":"equals"},"id":"0d53e1a3-1eb7-499f-837e-00e55c8fe327"}],"combinator":"and"},"renameOutput":true,"outputKey":"SELECTIVE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"69ad40cb-a90b-4c1f-9578-aef382668fd9","leftValue":"={{ $('Webhook').item.json.query.action }}","rightValue":"all","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REFRESH ALL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"29842b5a-5f01-4a01-b13b-76e6039ad04d","leftValue":"={{ $('Webhook').item.json.query.action }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"unknonwn"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-272,-64],"id":"f4b01b90-6d19-4a76-a99c-5589dcba811c","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e2247fb-811e-4703-b438-690085e59c39","leftValue":"={{ $json.calciatore }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"e21fd158-ba54-42ed-831a-782ee36198a1","leftValue":"={{ $json.report }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[16,-144],"id":"208bb28f-ba94-47dc-ba14-844b33ca09f7","name":"Filter1"},{"parameters":{"operation":"createFromText","content":"={{ $json.output }}","name":"Fantareport.html","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1168r8DSzXksgK8T6PbMv_rWFpvWCBSDG","mode":"list","cachedResultName":"N8N OBSIDIAN","cachedResultUrl":"https://drive.google.com/drive/folders/1168r8DSzXksgK8T6PbMv_rWFpvWCBSDG"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[992,-144],"id":"3b1e6b6f-4117-4f96-a641-e86d16e2980a","name":"Create file from text1","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Drive MBHR"}},"disabled":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[560,32],"id":"212944a7-4ef0-4420-8df9-9bac7a397b9e","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"plCvpG6R0cFbJKu5","name":"Anthropic account"}}},{"parameters":{"promptType":"define","text":"crea un .html che recupera tutte le informazioni nel file sheet di google che hai nei tool.\n\nnel tuo output riporta SOLO E SOLTANTO IL CODICE HTML","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[560,-144],"id":"7e9e155f-54b5-44a4-929a-ca6be36966ae","name":"AI Agent","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM","mode":"list","cachedResultName":"Fanta2526-players","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[800,16],"id":"737958bb-c690-4d53-ba95-2e2d173551e2","name":"Get row(s) in sheet in Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}}],"connections":{"Get row(s) in sheet":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Filter1","type":"main","index":0}],[{"node":"Filter","type":"main","index":0}],[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Create file from text1","type":"main","index":0}]]},"Get row(s) in sheet in Google Sheets1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bba2e345-45cc-4987-a007-e0c3627f6fc0","triggerCount":1,"tags":[]}