wf/FANTA ANALYSIS.json
{"createdAt":"2025-08-03T05:37:18.070Z","updatedAt":"2025-08-03T06:49:38.000Z","id":"2D0ZWoIBUtGCmUMB","name":"FANTA ANALYSIS","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM","mode":"list","cachedResultName":"Fanta2526-players","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-496,-64],"id":"80ec533f-bf5f-40a5-b9f8-51c92d8de4b3","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"model":"sonar","messages":{"message":[{"content":"=Analizza il calciatore che ti arriva in input{{ $json.calciatore }}\n{{ $json.calciatore }}\ne verifica notizie dell'ultima settimana su siti di informazione e su siti di fantacalcio il \"sentiment\" a riguardo.\nFocalizzati su tre punti cercando notizie e sentiment su come SARA' più che su come è STATO:\n1) E' un potenziale buon giocatore (gol assist?).\n2) Analizza la sua titolarità. Quanta concorrenza ha nel ruolo in squadra? sarà molte volte titolare?\n3) Guarda anche la sua resistenza agli infortuni\nMetti i link di riferimento direttamente nel testo.\n\nin calce al messaggio riporta la data di elaborazione {{ $now }}\n"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[800,16],"id":"c6a0d78d-c40c-4849-a71c-ecce5056fb73","name":"Message a model","credentials":{"perplexityApi":{"id":"YUFzaWLAMOrfk9At","name":"Perplexity account"}}},{"parameters":{"batchSize":"=1","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[384,-80],"id":"19e1e10f-58d9-4f8f-9ec9-f85ac10fc895","name":"Loop Over Items"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM","mode":"list","cachedResultName":"Fanta2526-players","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"report":"={{ $json.choices[0].message.content }}","calciatore":"={{ $('Loop Over Items').item.json.calciatore }}"},"matchingColumns":["calciatore"],"schema":[{"id":"calciatore","displayName":"calciatore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"squadra","displayName":"squadra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ruolo C","displayName":"ruolo C","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ruolo M","displayName":"ruolo M","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"report","displayName":"report","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1008,16],"id":"264bd81e-3877-42b6-bed7-2c0a2716c035","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=il file in allegato contiene una serie di righe.\nHai il nome del calciatore e il suo ruolo.\nEvidenziamo per ogni Ruolo il miglior prospetto da osservare e dammi 3 motivi per farlo"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[672,-224],"id":"1c99f8c8-f3a4-4e83-9233-01822c494969","name":"Message a model1","credentials":{"openAiApi":{"id":"qUMJt5QWAuhALJmk","name":"OpenAi account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM","mode":"list","cachedResultName":"Fanta2526-players","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-2nhJMx8ZUsdHo9HydjPhjgAkN7LUYN-uRNfDNoU9HM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1040,-160],"id":"76798a09-b2a8-4ec0-8918-bc18173b6b70","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"operation":"createFromText","content":"={{ $json.message.content }}","name":"Fanta Report ","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1168r8DSzXksgK8T6PbMv_rWFpvWCBSDG","mode":"list","cachedResultName":"N8N OBSIDIAN","cachedResultUrl":"https://drive.google.com/drive/folders/1168r8DSzXksgK8T6PbMv_rWFpvWCBSDG"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1216,-336],"id":"cf2d9353-1815-4a2d-9aaa-b2a3ea07fe53","name":"Create file from text","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Drive MBHR"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e2247fb-811e-4703-b438-690085e59c39","leftValue":"={{ $json.calciatore }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[16,16],"id":"cbc3a44c-ae27-4c10-a016-baa2a17a244d","name":"Filter"},{"parameters":{"path":"trigger_fanta","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-736,-64],"id":"17745cb7-34c1-4543-8a13-543df9a84ef6","name":"Webhook","webhookId":"066ab923-6a92-4beb-a2c0-dd8074fc21c3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.query.action }}","rightValue":"selective","operator":{"type":"string","operation":"equals"},"id":"0d53e1a3-1eb7-499f-837e-00e55c8fe327"}],"combinator":"and"},"renameOutput":true,"outputKey":"SELECTIVE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"69ad40cb-a90b-4c1f-9578-aef382668fd9","leftValue":"={{ $('Webhook').item.json.query.action }}","rightValue":"all","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"REFRESH ALL"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-272,-64],"id":"f4b01b90-6d19-4a76-a99c-5589dcba811c","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e2247fb-811e-4703-b438-690085e59c39","leftValue":"={{ $json.calciatore }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"e21fd158-ba54-42ed-831a-782ee36198a1","leftValue":"={{ $json.report }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[16,-144],"id":"208bb28f-ba94-47dc-ba14-844b33ca09f7","name":"Filter1"}],"connections":{"Get row(s) in sheet":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Message a model1","type":"main","index":0}],[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"Message a model1","type":"ai_tool","index":0}]]},"Message a model1":{"main":[[{"node":"Create file from text","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Filter1","type":"main","index":0}],[{"node":"Filter","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Message a model1":[{"json":{"index":0,"message":{"role":"assistant","content":"I dati suggeriscono due calciatori interessanti da osservare in questa stagione:\n\n### Centrocampista\n**Albert Grønbæk (Rennes):**\n1. **Potenziale di Gioco:** Albert Grønbæk, sebbene non abbia ancora segnato in questa stagione, si distingue per un'ottima capacità di far giocare la squadra, con 1 assist in 16 partite e una media di quasi 2 passaggi chiave a partita. Il suo contributo offensivo promette miglioramenti futuri.\n   \n2. **Concorrenza e Crescita:** Attualmente gioca meno di quanto desiderato a causa della forte concorrenza nel Rennes, ma la sua abilità nel dribbling e creazione di gioco potrebbero garantirgli più minuti in campo se migliora l'efficacia nell'area avversaria.\n   \n3. **Resistenza Fisica:** Non presenta storie significative di infortuni, il che indica una buona resistenza fisica e affidabilità nel lungo termine.\n\n### Centrocampista\n**Michael Folorunsho (Cagliari):**\n1. **Contributo Offensivo:** Nell'ultima stagione con il Verona, ha segnato 5 gol e fornito 1 assist, dimostrando che può contribuire significativamente ai risultati della squadra, con una fantamedia di 6.41, rendendolo un giocatore di interesse nel fantacalcio.\n   \n2. **Titolarità Potenziale:** Anche se non sempre titolare fisso, la sua capacità di adattarsi a vari ruoli e il suo passato di rendimento affidabile potrebbero garantirgli una buona quantità di presenze nel Cagliari.\n   \n3. **Buona Salute:** Ha superato le visite mediche senza problemi e non presenta storie di infortuni ricorrenti, il che suggerisce che possa mantenere una buona condizione fisica nel tempo.\n\nQuesti giocatori offrono prospettive di sviluppo per il futuro e possono rappresentare acquisti strategici sia per le loro squadre che per il fantacalcio.","refusal":null,"annotations":[]},"logprobs":null,"finish_reason":"stop"}},{"json":{"index":0,"message":{"role":"assistant","content":"Dopo aver analizzato le righe fornite, posso evidenziare i migliori prospetti da osservare per ciascun ruolo insieme a tre motivi per farlo:\n\n### Ruolo: Centrocampista (C)\n**Miglior Prospetto: Albert Grønbæk**\n\n1. **Potenziale come giocatore (gol e assist):**\n   - Anche se non ha ancora segnato in questa stagione, Grønbæk si distingue per la sua capacità di creatore di gioco. Con 1 assist in 16 partite e quasi 2 passaggi chiave a partita, si sta dimostrando promettente in termini di potenzialità futura.\n\n2. **Titolarità e concorrenza nel ruolo:**\n   - Ha giocato 143 minuti in stagione, con il Rennes che ha una mediana competitiva. La sua abilità nei dribbling e la creazione di gioco potrebbero spingerlo verso una maggiore presenza in campo.\n\n3. **Resistenza agli infortuni:**\n   - Non ci sono segnalazioni di infortuni gravi o ricorrenti, suggerendo una buona resistenza fisica, utile per una futura titolarità.\n\n**Miglior Prospetto: Michael Folorunsho**\n\n1. **Potenziale come giocatore (gol e assist):**\n   - Folorunsho ha avuto una buona stagione con il Verona, segnando 5 gol e fornendo 1 assist. La sua capacità di incidere su gol e assist è un punto di forza.\n\n2. **Titolarità e concorrenza nel ruolo:**\n   - Anche se indicato come opzione di rotazione al Cagliari, la sua duttilità e capacità lo rendono un elemento importante, potenzialmente con molte presenze.\n\n3. **Resistenza agli infortuni:**\n   - Ha superato senza problemi le visite mediche, e non riporta storie di infortuni gravi, il che suggerisce una buona tenuta fisica.\n\nEntrambi i giocatori mostrano delle caratteristiche interessanti che ne fanno dei prospetti da osservare nella loro evoluzione nei rispettivi ruoli e club.","refusal":null,"annotations":[]},"logprobs":null,"finish_reason":"stop"}}]},"versionId":"134badd5-0e4c-4c59-8303-f840e555b171","triggerCount":0,"tags":[]}