wf/MBHR MAIL DISPATCHER.json
{"createdAt":"2025-07-27T15:20:47.647Z","updatedAt":"2025-07-27T16:46:27.000Z","id":"9H9gBoTcDnaeX537","name":"MBHR MAIL DISPATCHER","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-416,16],"id":"67f89fa7-0491-44a8-99b1-e4818824992f","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"aAtLFvhojlgJnJxe","name":"Gmail account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Subject }}","rightValue":"analyze","operator":{"type":"string","operation":"contains"},"id":"6d58184c-4fe1-4600-9923-1b0c99031ef2"}],"combinator":"and"},"renameOutput":true,"outputKey":"ANALYZE"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-208,16],"id":"33f69b89-eb08-47ff-a2a3-86f9887dd9ff","name":"Switch"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-64,-400],"id":"5d0993ef-8a2b-456a-b696-b80818867c49","name":"Get a message","webhookId":"abcf3108-72ea-45e4-af1b-06b484ba3a7c","credentials":{"gmailOAuth2":{"id":"aAtLFvhojlgJnJxe","name":"Gmail account"}}},{"parameters":{"operation":"write","fileName":"=/tmp/temp.pdf","dataPropertyName":"attachment_0","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[128,-464],"id":"4b87a316-e482-44c2-958e-ed097d006366","name":"Read/Write Files from Disk"},{"parameters":{"command":"pdftotext /tmp/temp.pdf -"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[576,-400],"id":"2861020a-e09f-44c3-b4db-d7e6283c242e","name":"Execute Command"},{"parameters":{"promptType":"define","text":"=Ricevi in input un testo che devi sintetizzare. \nScrivi un report in markdown in ITALIANO,\nesprimiti in bullet point chiari e dettagliati.\n\ncostruisci una struttura per isolare i diversi argomenti contenuti nel documento,\ne per ciascun punto di struttura, evidenzia i punti chiave, gli argomenti interessanti ed eventuali citazioni prese dal documento (dichiarazioni e, se ci sono, soprattutto numeri).\n\nil testo è questo:\n{{ $json.stdout }}\n\nin fondo al testo Markdown che scriverei, riporta anche il link per scaricare il documento originale che sarà questo\n{{ $('PARAMETRI').item.json.filelink + $('PARAMETRI').item.json.filename }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[768,-400],"id":"e8a93bf2-7691-49a4-8e21-8a0785db3181","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[720,-208],"id":"1a10a4c7-40fc-4783-9851-13fa1ff5143f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qUMJt5QWAuhALJmk","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e6f10d7d-a1d3-4141-b620-93a100cf34f6","name":"filename","value":"={{ $binary[\"attachment_0\"].fileName }}","type":"string"},{"id":"75b17876-43dc-4869-86af-90bd7e62ab13","name":"filelink","value":"={{ (\"https://\" + \"alet313\" + \".s3.eu-west-3.amazonaws.com/\" + \"docs/2025/\") }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,-400],"id":"b4474dfc-ec7a-480b-a330-471a9d2a33f9","name":"PARAMETRI"},{"parameters":{"descriptionType":"manual","toolDescription":"Scrivi la tua sintesi in MD e salvala in questo file","operation":"createFromText","content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', ``, 'string') }}","name":"={{ $('PARAMETRI').item.json.filename.replace(/\\.pdf$/i, '.md') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C","mode":"list","cachedResultName":"OBSIDIAN WORK","cachedResultUrl":"https://drive.google.com/drive/folders/1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C"},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[960,-176],"id":"a9b6f32f-58ee-40cd-83d2-5b1c8da2315d","name":"Create file from text in Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"chatId":"40281969","text":"=lavoro terminato da OpenAI 4o mini.\n\nè stata creata una scheda .md che verrà inviata per posta.\ninoltre il documento originale è su [aws]({{ $('Upload a file').item.json.Location }}).\n\npuoi vedere la sintesi creata anche [qui]({{ $json.webViewLink }})","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1696,-448],"id":"7d1815b0-2376-4660-9f1c-de5b7e80244d","name":"Send a text message","webhookId":"a247e4d5-597c-4fe9-9434-418e183b0e5c","credentials":{"telegramApi":{"id":"F7ZoudlMo9As5nHs","name":"Telegram account"}}},{"parameters":{"operation":"upload","bucketName":"alet313","fileName":"=docs/2025/{{ $('PARAMETRI').item.json.filename }}","binaryPropertyName":"attachment_0","additionalFields":{}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[1280,-448],"id":"8bfcc3db-19c0-4e50-b182-797e10821ab8","name":"Upload a file","credentials":{"aws":{"id":"mX49AAxCSrUqGZkZ","name":"AWS account"}}},{"parameters":{"operation":"get","messageId":"={{ $('Gmail Trigger').item.json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1120,-320],"id":"1973e5f4-c6ce-48b1-bec8-69891304f400","name":"Get a message1","webhookId":"abcf3108-72ea-45e4-af1b-06b484ba3a7c","credentials":{"gmailOAuth2":{"id":"aAtLFvhojlgJnJxe","name":"Gmail account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $('PARAMETRI').item.json.filename.replace(/\\.pdf$/i, '.md') }}","filter":{},"options":{"fields":["webViewLink"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1488,-448],"id":"15441a07-ca7b-4dd1-bf4a-9e39da22404f","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"content":"## ANALYZE WORK\nquesto flusso intercetta un documento pdf inviato a mbhrlive. lo trasforma in testo e lo passa a un agente AI che scrive una nota .md per obsidian. il doc originale viene archiviato su AWS. telegram riporta tutto\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":576,"width":2192},"type":"n8n-nodes-base.stickyNote","position":[-240,-592],"typeVersion":1,"id":"466474c8-650c-427e-b4f2-dff4fb4c71dc","name":"Sticky Note"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a message","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"PARAMETRI","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get a message":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"PARAMETRI":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Get a message1","type":"main","index":0}]]},"Create file from text in Google Drive":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get a message1":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1753819452,"possibleDuplicates":["19857c916e8b098e","1985588f0fcaf8cd"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"331497ee-cdab-49a6-b46d-aa3ed2772cda","triggerCount":1,"tags":[]}