wf/MBHR MAIL DISPATCHER.json
{"createdAt":"2025-07-27T15:20:47.647Z","updatedAt":"2025-08-01T07:05:02.000Z","id":"9H9gBoTcDnaeX537","name":"MBHR MAIL DISPATCHER","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-416,16],"id":"67f89fa7-0491-44a8-99b1-e4818824992f","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"aAtLFvhojlgJnJxe","name":"gmail MBHR"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.headers.subject }}","rightValue":"analyze","operator":{"type":"string","operation":"contains"},"id":"6d58184c-4fe1-4600-9923-1b0c99031ef2"}],"combinator":"and"},"renameOutput":true,"outputKey":"ANALYZE"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-208,16],"id":"33f69b89-eb08-47ff-a2a3-86f9887dd9ff","name":"Switch"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-64,-400],"id":"5d0993ef-8a2b-456a-b696-b80818867c49","name":"Get a message","webhookId":"abcf3108-72ea-45e4-af1b-06b484ba3a7c","credentials":{"gmailOAuth2":{"id":"aAtLFvhojlgJnJxe","name":"gmail MBHR"}}},{"parameters":{"operation":"write","fileName":"=/tmp/temp.pdf","dataPropertyName":"attachment_0","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[128,-464],"id":"4b87a316-e482-44c2-958e-ed097d006366","name":"Read/Write Files from Disk"},{"parameters":{"command":"pdftotext /tmp/temp.pdf -"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[576,-400],"id":"2861020a-e09f-44c3-b4db-d7e6283c242e","name":"Execute Command"},{"parameters":{"promptType":"define","text":"=Ricevi in input un testo che devi sintetizzare. \nScrivi un report in markdown in ITALIANO,\nesprimiti in bullet point chiari e dettagliati. Se il caso, aggiungi citazioni prese dal documento e numeri e riferimenti.\n\nil tuo compito specifico è questo\n{{ $('PARAMETRI').item.json.prompt }}\n\nil testo da analizzare è questo:\n{{ $json.stdout }}\n\nin fondo al testo Markdown che scriverai, riporta anche il link per scaricare il documento originale che sarà questo\n{{ $('PARAMETRI').item.json.filelink + $('PARAMETRI').item.json.filename }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[768,-400],"id":"e8a93bf2-7691-49a4-8e21-8a0785db3181","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[720,-208],"id":"1a10a4c7-40fc-4783-9851-13fa1ff5143f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qUMJt5QWAuhALJmk","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e6f10d7d-a1d3-4141-b620-93a100cf34f6","name":"filename","value":"={{ $binary[\"attachment_0\"].fileName }}","type":"string"},{"id":"75b17876-43dc-4869-86af-90bd7e62ab13","name":"filelink","value":"={{ (\"https://\" + \"alet313\" + \".s3.eu-west-3.amazonaws.com/\" + \"docs/2025/\") }}\n","type":"string"},{"id":"f356f3df-4b59-4ae8-ab83-57371a948d0d","name":"prompt","value":"={{ $('Gmail Trigger').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,-400],"id":"b4474dfc-ec7a-480b-a330-471a9d2a33f9","name":"PARAMETRI"},{"parameters":{"descriptionType":"manual","toolDescription":"Scrivi la tua sintesi in MD e salvala in questo file","operation":"createFromText","content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_Content', ``, 'string') }}","name":"={{ $('PARAMETRI').item.json.filename.replace(/\\.pdf$/i, '.md') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C","mode":"list","cachedResultName":"OBSIDIAN WORK","cachedResultUrl":"https://drive.google.com/drive/folders/1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C"},"options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[960,-176],"id":"a9b6f32f-58ee-40cd-83d2-5b1c8da2315d","name":"Create file from text in Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Drive MBHR"}}},{"parameters":{"chatId":"40281969","text":"=lavoro terminato da OpenAI 4o mini.\n\nè stata creata una scheda .md che verrà inviata per posta.\ninoltre il documento originale è su [aws]({{ $('Upload a file').item.json.Location }}).\n\npuoi vedere la sintesi creata anche [qui]({{ $json.webViewLink }})","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1712,-448],"id":"7d1815b0-2376-4660-9f1c-de5b7e80244d","name":"Send a text message","webhookId":"a247e4d5-597c-4fe9-9434-418e183b0e5c","credentials":{"telegramApi":{"id":"F7ZoudlMo9As5nHs","name":"TELEGRAM MBHR"}}},{"parameters":{"operation":"upload","bucketName":"alet313","fileName":"=docs/2025/{{ $('PARAMETRI').item.json.filename }}","binaryPropertyName":"attachment_0","additionalFields":{}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[1296,-448],"id":"8bfcc3db-19c0-4e50-b182-797e10821ab8","name":"Upload a file","credentials":{"aws":{"id":"mX49AAxCSrUqGZkZ","name":"AWS account"}}},{"parameters":{"operation":"get","messageId":"={{ $('Gmail Trigger').item.json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1136,-496],"id":"1973e5f4-c6ce-48b1-bec8-69891304f400","name":"Get a message1","webhookId":"abcf3108-72ea-45e4-af1b-06b484ba3a7c","credentials":{"gmailOAuth2":{"id":"aAtLFvhojlgJnJxe","name":"gmail MBHR"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $('PARAMETRI').item.json.filename.replace(/\\.pdf$/i, '.md') }}","filter":{},"options":{"fields":["webViewLink"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1488,-448],"id":"15441a07-ca7b-4dd1-bf4a-9e39da22404f","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Drive MBHR"}}},{"parameters":{"content":"## ANALYZE WORK\nquesto flusso intercetta un documento pdf inviato a mbhrlive. lo trasforma in testo e lo passa a un agente AI che scrive una nota .md per obsidian. il doc originale viene archiviato su AWS. telegram riporta tutto\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":576,"width":2192},"type":"n8n-nodes-base.stickyNote","position":[-240,-592],"typeVersion":1,"id":"466474c8-650c-427e-b4f2-dff4fb4c71dc","name":"Sticky Note"},{"parameters":{"operation":"reply","messageId":"={{ $('Gmail Trigger').item.json.id }}","message":"=lavoro terminato da OpenAI 4o mini.  è stata creata una scheda .md che verrà inviata per posta. inoltre il documento originale è su ({{ $('Upload a file').item.json.Location }}).  puoi vedere la sintesi creata anche ({{ $json.webViewLink }})","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1712,-256],"id":"f1f8d3cf-8df3-4b8f-80fb-328d79a88e67","name":"Reply to a message","webhookId":"43cf4bcf-c202-44b2-9dae-2db4b109b34a","credentials":{"gmailOAuth2":{"id":"aAtLFvhojlgJnJxe","name":"gmail MBHR"}}},{"parameters":{"fileSelector":"/tmp/temp.pdf","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1136,-320],"id":"29ca41eb-74b2-4305-83b2-257d6c15e2c8","name":"Read/Write Files from Disk1","disabled":true}],"connections":{"Gmail Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get a message","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"PARAMETRI","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get a message":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"PARAMETRI":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Get a message1","type":"main","index":0},{"node":"Read/Write Files from Disk1","type":"main","index":0}]]},"Create file from text in Google Drive":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get a message1":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Search files and folders","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Send a text message","type":"main","index":0},{"node":"Reply to a message","type":"main","index":0}]]},"Read/Write Files from Disk1":{"main":[[{"node":"Upload a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1754376651,"possibleDuplicates":["1987901f437144df","198789b3d66e25bd"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Gmail Trigger":[{"json":{"id":"1986467210e04736","threadId":"1986467210e04736","labelIds":["UNREAD","IMPORTANT","CATEGORY_PERSONAL","INBOX"],"sizeEstimate":2594817,"headers":{"delivered-to":"Delivered-To: mbhrlive@gmail.com","received":"Received: from mail3.agos.it (mail1.agos.it. [91.224.72.3])\r\n        by mx.google.com with ESMTPS id a640c23a62f3a-af91d677b53si211255666b.483.2025.07.31.23.52.16\r\n        for <mbhrlive@gmail.com>\r\n        (version=TLS1_2 cipher=ECDHE-ECDSA-CHACHA20-POLY1305 bits=256/256);\r\n        Thu, 31 Jul 2025 23:52:17 -0700 (PDT)","x-google-smtp-source":"X-Google-Smtp-Source: AGHT+IH0iTKi8fCpXoTVOG77CuAxV3nJ2ksdhVpCbsvSbMd7PStdo7DqjPeX+RJPc3gHtB6SyfyF","x-received":"X-Received: by 2002:a17:906:138e:b0:af9:38ed:5b49 with SMTP id a640c23a62f3a-af938ed6542mr15164366b.5.1754031137260;\r\n        Thu, 31 Jul 2025 23:52:17 -0700 (PDT)","arc-seal":"ARC-Seal: i=1; a=rsa-sha256; s=arcselector10001; d=microsoft.com; cv=none;\r\n b=XTI6Mm6aUMGWNjXY0CoMiDqAzPqDdNn+4VzufhUKpdV1kQ7/oxoForPUbdHSJ8hHsWfEbBTZq9rfnTI3jBG+49YJE3t4RIfXPYzIt4L1OiNnLMZyjL0uwchK3tsJokcJQvRaJqf9Y9SNCVwHPHAipf11gpFnJYWWyWnjieqXBfczOD55wRJkoJNKVjLqyUewg1ZDAtiOj5Oy/yeGn9PLIqrZQ5gJndcYLeXrQ75lVoAZwdgaUp4SITRITWotQb8OWRobbKgTLQtzTmAcotCc6YrA3zOQ0oIDaRfiB1p/DldrjPH6V+U+cFeRmTqgS7gR27C3fSDzQ9orq6QFDeNDnw==","arc-message-signature":"ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=microsoft.com;\r\n s=arcselector10001;\r\n h=From:Date:Subject:Message-ID:Content-Type:MIME-Version:X-MS-Exchange-AntiSpam-MessageData-ChunkCount:X-MS-Exchange-AntiSpam-MessageData-0:X-MS-Exchange-AntiSpam-MessageData-1;\r\n bh=Ti2L34lWgApiJL0lJWud+oNe+z7RWpbfoiKwsO3iw/s=;\r\n b=uDnzLEFP6zIOXEsSx5ouatW1o0q5R8Y1tBb4WXs0YHv6akzDWOBP0MaIwEg88nsB4QKWE1WBwrDHT7bA/7IONOdwx1uvjZXnv4THdiK5pH4K5gdxkkvDek32tR7ww790uy4Q5nTjDvOb8btn5066UJm9wVskT6dUozTUQQPiekB1Hqefr2d56iZVALUK9pOZED8m7G0q4q517u6mZslcmcz20lGJFWO8VPutnJmLFEnTlnmP34t6ElN+rW4HLag6+P8neL1cQwbi/VkXdKOvxU7DlplKl2CLhnX6V6rNFNN9NyDUBKEfum50YPRNyKWQD9KzmM72RRcplExDcJeY4Q==","arc-authentication-results":"ARC-Authentication-Results: i=1; mx.microsoft.com 1; spf=pass\r\n smtp.mailfrom=agos.it; dmarc=pass action=none header.from=agos.it; dkim=pass\r\n header.d=agos.it; arc=none","return-path":"Return-Path: a.tovani@agos.it","received-spf":"Received-SPF: pass (google.com: domain of a.tovani@agos.it designates 91.224.72.3 as permitted sender) client-ip=91.224.72.3;","authentication-results":"authentication-results: dkim=none (message not signed)\r\n header.d=none;dmarc=none action=none header.from=agos.it;","dkim-signature":"DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n d=CACommun.onmicrosoft.com; s=selector2-CACommun-onmicrosoft-com;\r\n h=From:Date:Subject:Message-ID:Content-Type:MIME-Version:X-MS-Exchange-SenderADCheck;\r\n bh=Ti2L34lWgApiJL0lJWud+oNe+z7RWpbfoiKwsO3iw/s=;\r\n b=HQ+aUQcQHrIHK7Pc8UQ9ETWrOP6w7VEei6g7oS7uvj7nwuoG0VofKZOXkwvk13H7ZThCal70c5OREIlxOCorTl9nOTifw7gIUGToqHGr50Fo7/l4e1w/6lMKisbdE6B4qYpyb5POFUKIUk9vu3rkwGdgOumHPtsc8LzciC7QreQ=","x-cse-connectionguid":"X-CSE-ConnectionGUID: ujtt3CY7RfW+nZPEMkO7eQ==","x-cse-msgguid":"X-CSE-MsgGUID: upnmd/d+SiSjTb8HboGOpA==","x-ironport-av":"X-IronPort-AV: E=Sophos;i=\"6.17,255,1747692000\"; \r\n   d=\"pdf'?scan'208,217\";a=\"8035844\"","from":"From: TOVANI ALESSANDRO <a.tovani@agos.it>","to":"To: \"mbhrlive@gmail.com\" <mbhrlive@gmail.com>","subject":"Subject: analyze trimestrale mediobanca q2 25","thread-topic":"Thread-Topic: analyze trimestrale mediobanca q2 25","thread-index":"Thread-Index: AdwCryzs1uDMm6dbRwulllJg0fmLpwAAXGsA","date":"Date: Fri, 1 Aug 2025 06:50:55 +0000","message-id":"Message-ID: <PAZP264MB2734E458EF35724ED83BF2859726A@PAZP264MB2734.FRAP264.PROD.OUTLOOK.COM>","references":"References: <PAZP264MB2734FBB6536D76ADA5D09A429726A@PAZP264MB2734.FRAP264.PROD.OUTLOOK.COM>","in-reply-to":"In-Reply-To: <PAZP264MB2734FBB6536D76ADA5D09A429726A@PAZP264MB2734.FRAP264.PROD.OUTLOOK.COM>","accept-language":"Accept-Language: it-IT, en-US","content-language":"Content-Language: it-IT","x-ms-has-attach":"X-MS-Has-Attach: yes","x-ms-tnef-correlator":"X-MS-TNEF-Correlator:","msip_labels":"msip_labels: MSIP_Label_4cad6431-53ea-4466-8111-3fefa470bcb9_ActionId=268d7397-5bb9-4dc8-98d1-5bae523c2156;MSIP_Label_4cad6431-53ea-4466-8111-3fefa470bcb9_ContentBits=0;MSIP_Label_4cad6431-53ea-4466-8111-3fefa470bcb9_Enabled=true;MSIP_Label_4cad6431-53ea-4466-8111-3fefa470bcb9_Method=Standard;MSIP_Label_4cad6431-53ea-4466-8111-3fefa470bcb9_Name=Usage\r\n Interne;MSIP_Label_4cad6431-53ea-4466-8111-3fefa470bcb9_SetDate=2025-08-01T06:40:04Z;MSIP_Label_4cad6431-53ea-4466-8111-3fefa470bcb9_SiteId=fb3baf17-c313-474c-8d5d-577a3ec97a32;MSIP_Label_4cad6431-53ea-4466-8111-3fefa470bcb9_Tag=10,\r\n 3, 0, 1;","x-ms-publictraffictype":"x-ms-publictraffictype: Email","x-ms-traffictypediagnostic":"x-ms-traffictypediagnostic: PAZP264MB2734:EE_|PASP264MB5505:EE_","x-ms-office365-filtering-correlation-id":"x-ms-office365-filtering-correlation-id: 4130494e-fd81-4bdb-c8e2-08ddd0c7c390","x-ms-exchange-senderadcheck":"x-ms-exchange-senderadcheck: 1","x-ms-exchange-antispam-relay":"x-ms-exchange-antispam-relay: 0","x-microsoft-antispam":"x-microsoft-antispam: BCL:0;ARA:13230040|366016|376014|1800799024|38070700018|4053099003|8096899003;","x-microsoft-antispam-message-info":"x-microsoft-antispam-message-info: =?iso-8859-1?Q?HsIc1MWmHvU87ef6iIL+ODgbvDsYYQXKJ7kHnQL7S4UKXa4I9RM4PTGu9B?=\r\n =?iso-8859-1?Q?BZGkTNYf8x4c/xOoAYXJvFacsty+S9oHRp2lyEU+ZEurkT2McAvT6CyWtw?=\r\n =?iso-8859-1?Q?p/0YiMDopVgTiTCcEQZXdHSB4EX8e4Nclg3tsDGW6FaPhNqYu6T211Q/1L?=\r\n =?iso-8859-1?Q?ZndKKQ3iB59y+JpNMejAGq0E9xgTeJtAYijMv3rxncyQqfod5ocGBTFvpl?=\r\n =?iso-8859-1?Q?iE3LEZEXimh4bMnVFjoAmNAWhN6hGW3+aH3UE+RcURLNfQ//mYrsRKUOea?=\r\n =?iso-8859-1?Q?91WpquSE3FJwuPwgTvy4KmTsdApjdpcD2Mz/HrFu1L1ZMFlcxb7UK1aoSG?=\r\n =?iso-8859-1?Q?UEi7NSIo5ndYVWn1hJcIH2wRGzQKycH7CE/QoBChYYZd3yvIW1+cGXVD9Z?=\r\n =?iso-8859-1?Q?1fLNxeOlCoDI/i4oOhDsPnkJNCcqGkuFc+RG97sBh4R47QAlQGRpMCp541?=\r\n =?iso-8859-1?Q?Y0UzT9ypWLu7eD4D0hQk+eWO05Ca2wLMxam2PuDtBMA3S1bU5Tkmnofcd8?=\r\n =?iso-8859-1?Q?AThIbpWWWgpoS3cv9sEH2rq2ZBkH/cwjW4Im0El2Y2ChnMyI7jS3nbBib4?=\r\n =?iso-8859-1?Q?rALhwQwiZYJAlypGPwK+BASUX988cO6CgCzyGHbQQE6tASlOwWAb7v9rlz?=\r\n =?iso-8859-1?Q?96j/9m0gaB5urcGNA4vF1sKFtFvyyH6sduKywaepq0kQwXK3NmxmCgubgv?=\r\n =?iso-8859-1?Q?c1ykDs24QXZE5wm/+FGmnaHKLZhQ0wHg2Vd/+kPnS9jPs4TMXTGnC55bkW?=\r\n =?iso-8859-1?Q?KMnQRdXZbBzrq5GsaV4+ZkpYd4wuWLCts/wsJtwqEd0YHp2AW5AxRCtida?=\r\n =?iso-8859-1?Q?94Wfz6amVY6UOQgCLhBAKDoPw4VoSrdbYIF5YIUKDeC3v0EkoKU6NlIc7D?=\r\n =?iso-8859-1?Q?LMxjLZRay8sKdQxQ+jzXdDyAIfGv/8Z9J6NdT/lylLxh8RbkC0v+bc0ork?=\r\n =?iso-8859-1?Q?0s8KFBQ2fK3m/EInfx/5O8l0k5SSyMwaqWqNKdJr/MWm3mkyDYHQJqaW4R?=\r\n =?iso-8859-1?Q?B5vs6zdSnonP9mb5RNnxbh98msHo4QjEUfL2TfaJZOI/wZcAlnRuaE4R2k?=\r\n =?iso-8859-1?Q?3ZlKERPg2h2B2oVtWLTN2qS8+aGe/fiFpQaDolFmt9mDyMhZJNDGWJVEIm?=\r\n =?iso-8859-1?Q?imj1HP3ZCy+gJQ7jbAMPXfQou974aI05tQETk2WdJKL9DJLTj/2A/cQsVB?=\r\n =?iso-8859-1?Q?Mx2QVywmW4WbFz+BfsITI1tywYz/Ph4+hjVKyNTg/GF5HbUlm9Di7eYTea?=\r\n =?iso-8859-1?Q?TEONhf1uvSMc3/3fQugZIsc5NEN9lgO76ab3GUb+MjN2Ibp5zvVxsvGrMm?=\r\n =?iso-8859-1?Q?vjr+SdbymeCQ01bHmegce7a9rPNTJRVF3dnjIALPR7snr3zl3g1AcftEm5?=\r\n =?iso-8859-1?Q?VpLeouiuy1kHR1A2KCJshCx1Io2U1rLQ0FAqoCsgu0HQxzuQoqBHEd4JL1?=\r\n =?iso-8859-1?Q?ZFKcQ5Xo5DBhBrOFSn+ZV+DTdiK0MkHwPljNScpPWwkQXrGB0ZF1/PKd6r?=\r\n =?iso-8859-1?Q?s=3D?=","x-forefront-antispam-report":"x-forefront-antispam-report: CIP:255.255.255.255;CTRY:;LANG:it;SCL:1;SRV:;IPV:NLI;SFV:NSPM;H:PAZP264MB2734.FRAP264.PROD.OUTLOOK.COM;PTR:;CAT:NONE;SFS:(13230040)(366016)(376014)(1800799024)(38070700018)(4053099003)(8096899003);DIR:OUT;SFP:1101;","x-ms-exchange-antispam-messagedata-chunkcount":"x-ms-exchange-antispam-messagedata-chunkcount: 1","x-ms-exchange-antispam-messagedata-0":"x-ms-exchange-antispam-messagedata-0: =?iso-8859-1?Q?nTofp3JPVAyW3lOcwXCPSsH5W5PRgUzN5Nihz0RNh9p4XL2SQfoyXYMahI?=\r\n =?iso-8859-1?Q?rwCbMBXVoqlYEsOlpQ4b0t8JoEuWlyr9DsUgIe8tSlNa1FBdmQzWtsjz1x?=\r\n =?iso-8859-1?Q?yp0NFMV53ouqJ7vnnAO4UlRenwY+CYDPZ021A9Hps9RyqLUankVSqhtx1C?=\r\n =?iso-8859-1?Q?yAL6HJKsPDydp0IlUtVbrTUxSj/EihgPz7C5Fv50yue8a0NKHTcHkN5m/t?=\r\n =?iso-8859-1?Q?u3ROms0HWt4nzIZGIE5Ma87MnaxrvYNqfkBvjk/A484Md3hssDnIeEQbMw?=\r\n =?iso-8859-1?Q?Csz4xKJlhcr/ke+r5obDsM5GQlplBsN9XQgmwc7tbJhrdMC5AYggE1As+W?=\r\n =?iso-8859-1?Q?hxOMILbSSLn9cUeDgQHoVRSDDCg1BImdgztYvZNO0kP9HkXZ+eooqs1WtH?=\r\n =?iso-8859-1?Q?YhELCPUK3bUu4FVkZ5T6DMcYts0mcLeL/VnHPBufHnopUbjrPJV4iFyTYz?=\r\n =?iso-8859-1?Q?XaFomXcbncABxzNKS/1Xub3+UbhhpJgGP7+ANn9Yrdp22MJReIwGQbQ61g?=\r\n =?iso-8859-1?Q?2DBsol45WdG4V270wEAzcuAOcpovCZvIfBJuR0f9X2bs5F2MVln6/Ld9Ji?=\r\n =?iso-8859-1?Q?Ng8moXshBUjV70h9ACAjdTyfJZEjv3f3NlgGUPHiDqu0D2Z4Ya5avbmbzS?=\r\n =?iso-8859-1?Q?78OfqGqY6+U+izgBn9ffhHCpcdIXh+OwLcWh0fAWarPnJld0+NAir0nMRS?=\r\n =?iso-8859-1?Q?RCkNDK1xIodJo0E0YgLi9oDiKsyW4dZMMaW8J/alHuZYWuIZyVx3plzsRx?=\r\n =?iso-8859-1?Q?Fq0K0LlgpXM0RB7kPhBQi/Qxl7DIQo2edWQ0bble/27Mc5QsW8yeGJg488?=\r\n =?iso-8859-1?Q?gUCDx6Njoqb5heQUceNzFQqWeXExNYVRhIbuQrcSMIXfw71ZR8xJZ6mTOp?=\r\n =?iso-8859-1?Q?tiupr9ynLFvujZflOv4aVsGCrvhcI0wzkmgMii7iOCUN4+gRPdGyZMHF/d?=\r\n =?iso-8859-1?Q?vsnxwJwe+OZvBY9uaA3vojleBJ2B5YTNZUkK5lQ+6X2Y6EXMzTco2O7HW+?=\r\n =?iso-8859-1?Q?BdNxByMXBeWycPfSGJbHwvIhlk2EUMimkCqz1gH2vARRbG3ljrrkZatkR1?=\r\n =?iso-8859-1?Q?20SKDMNjRsvFMmU7EeqGusCyJiknhjIKijIRMaLh+uQMHzL2h4xdpqJdKf?=\r\n =?iso-8859-1?Q?fenWfIePhu0xpZIta5SBBiBJcuG7eAvlY/7rNKKlS8EjSqP/rGfeI9626M?=\r\n =?iso-8859-1?Q?iCd/JsAcghs3jHllGj900+JqfkFZMRGLQ32h16l374gIwpf5KLMylVm0Ku?=\r\n =?iso-8859-1?Q?k3YUqnYwfzOhta8j7ugddG1ojAr4UT0eHi+v7VUPno/tR6T/AmRipoyaXn?=\r\n =?iso-8859-1?Q?n7icm3O7QuK/+0uXOAUJh8ZpQyeZVP/O0seRvdPDKnbjsKYW4ymwXz15OJ?=\r\n =?iso-8859-1?Q?etznIpyMx1oZfuWVjxUq4g+wfreNQ4QTRiZeaDeTw5ba/QMK653KqORAo1?=\r\n =?iso-8859-1?Q?jK6DUX6QuUqf1yRc6HS3Ynvw2MstD4KB23NhH1bOh5NQOt5eWsK7XC4JBQ?=\r\n =?iso-8859-1?Q?2uwWeg5PZK5GbFz+BU1XqMoSflvQLk0p4nRmQV2kO38dJoXD6b3Z3K6tCK?=\r\n =?iso-8859-1?Q?/tFGdh76mBMO0cG0WHg7AfIBbPcFCcJ1C1CZMi7ViHc7/s0hHlJOEVqrY/?=\r\n =?iso-8859-1?Q?qUuVKt4mbcEBE=3D?=","content-type":"Content-Type: multipart/mixed;\r\n\tboundary=\"_004_PAZP264MB2734E458EF35724ED83BF2859726APAZP264MB2734FRAP_\"","mime-version":"MIME-Version: 1.0","x-ms-exchange-antispam-externalhop-messagedata-chunkcount":"X-MS-Exchange-AntiSpam-ExternalHop-MessageData-ChunkCount: 1","x-ms-exchange-antispam-externalhop-messagedata-0":"X-MS-Exchange-AntiSpam-ExternalHop-MessageData-0: A//lIxwI6TpHwD4kWt9dfIsjID26Crjqjm2Z6MnTLb/WziLFVRWHbBNLMr+/tKoH3JnTpf9NdKiWzfEgVwYtlI2hpqn+B2Xfl9VtvtKwvoswnyWitTgKstz12vW4wn6OIvjgpKpzIux4FZ4LjykDm0zLohh9i2UtrEnAD3vuaGdC67Z7hMFp3zb32zDgNitdrzKJDNWi6o8Oezc/oiJeXE7HIgicF6IXoL+kjWtFUwdjjzIsU6BKdurk3TS/k4W+qAuwau4tsKSnFjivyFpzth58Yjx/aRrSMuLw3huy+DBd75rpECTF8pCvYclByi1lDdALtWfIrf6W8uuEYZyRKsoRmpPKwhENbuVF9F2ba1ubCb7pD6k8k+Tfj1y2uC7og1I2Cp44M/ZZfaqYaUj4dRV6Nuj/f1JmI4uvjnctZIfkFJc6FM+1ValRGi0AwFzkyvi6CTb8pjHVj5AKIseGi9ip5EnAIaM1sbthTwxgU0VQpQInJpBD72hJFK6qtGyPp89S36Bq/7722uB2DTzHFEgITtWNqhMV2nTyDn/w92+1HxkNCLag33oxeIjpfvENd07qMPJoWttA1qiN4V4yMY4T8hkhVM94RAfnAFg7Skc=","x-ms-exchange-crosstenant-authas":"X-MS-Exchange-CrossTenant-AuthAs: Internal","x-ms-exchange-crosstenant-authsource":"X-MS-Exchange-CrossTenant-AuthSource: PAZP264MB2734.FRAP264.PROD.OUTLOOK.COM","x-ms-exchange-crosstenant-network-message-id":"X-MS-Exchange-CrossTenant-Network-Message-Id: 4130494e-fd81-4bdb-c8e2-08ddd0c7c390","x-ms-exchange-crosstenant-originalarrivaltime":"X-MS-Exchange-CrossTenant-originalarrivaltime: 01 Aug 2025 06:50:55.4503\r\n (UTC)","x-ms-exchange-crosstenant-fromentityheader":"X-MS-Exchange-CrossTenant-fromentityheader: Hosted","x-ms-exchange-crosstenant-id":"X-MS-Exchange-CrossTenant-id: fb3baf17-c313-474c-8d5d-577a3ec97a32","x-ms-exchange-crosstenant-mailboxtype":"X-MS-Exchange-CrossTenant-mailboxtype: HOSTED","x-ms-exchange-crosstenant-userprincipalname":"X-MS-Exchange-CrossTenant-userprincipalname: a+NsEiZ58RFivGd236A1Lhcu2fR1Dvi42ifpu7TPmpxCIcoA8iwvLNnHNzxMo9ykbmkAXpmCp+EAfl5sodwYBA==","x-ms-exchange-transport-crosstenantheadersstamped":"X-MS-Exchange-Transport-CrossTenantHeadersStamped: PASP264MB5505","x-originatororg":"X-OriginatorOrg: agos.it"},"html":"<html>\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=iso-8859-1\">\n<meta name=\"Generator\" content=\"Microsoft Word 15 (filtered medium)\">\n<style><!--\n/* Font Definitions */\n@font-face\n\t{font-family:\"Cambria Math\";\n\tpanose-1:2 4 5 3 5 4 6 3 2 4;}\n@font-face\n\t{font-family:Aptos;}\n/* Style Definitions */\np.MsoNormal, li.MsoNormal, div.MsoNormal\n\t{margin:0cm;\n\tfont-size:11.0pt;\n\tfont-family:\"Aptos\",sans-serif;\n\tmso-ligatures:standardcontextual;\n\tmso-fareast-language:EN-US;}\n.MsoChpDefault\n\t{mso-style-type:export-only;\n\tfont-size:10.0pt;\n\tmso-ligatures:none;}\n@page WordSection1\n\t{size:612.0pt 792.0pt;\n\tmargin:70.85pt 2.0cm 2.0cm 2.0cm;}\ndiv.WordSection1\n\t{page:WordSection1;}\n--></style><!--[if gte mso 9]><xml>\n<o:shapedefaults v:ext=\"edit\" spidmax=\"1026\" />\n</xml><![endif]--><!--[if gte mso 9]><xml>\n<o:shapelayout v:ext=\"edit\">\n<o:idmap v:ext=\"edit\" data=\"1\" />\n</o:shapelayout></xml><![endif]-->\n</head>\n<body lang=\"IT\" link=\"#467886\" vlink=\"#96607D\" style=\"word-wrap:break-word\">\n<div class=\"WordSection1\">\n<p class=\"MsoNormal\"><o:p>&nbsp;</o:p></p>\n<p class=\"MsoNormal\">Estrai le informazioni utili per il credito al consumo che Mediobanca chiama &#8220;consumer finance&#8221; (CF). Evidenzia i punti che vengono presentati come più importanti per indicare l&#8217;andamento del trimestre e dell&#8217;anno fiscale\n<o:p></o:p></p>\n</div>\n<div><a href=\"https://it.trustpilot.com/review/www.agos.it?utm_medium=Trustbox&amp;utm_source=EmailSignature3\" target=\"_blank\"><span style=\"color:#368CD7;text-decoration:none;text-underline: none\"><!--[if gte vml 1]>\n          <v:shape id=\"_x0000_i1075\" alt=\"Check out our reviews\"\n           href=\"https://it.trustpilot.com/review/www.agos.it?utm_medium=Trustbox&amp;utm_source=EmailSignature3\"\n           target=\"&quot;_blank&quot;\" style='width:128.25pt;height:12pt' o:button=\"t\">\n           <v:imagedata src=\"https://emailsignature.trustpilot.com/signature/it-IT/3/4e24ab7b0000640005104262/text.png\" o:href=\"https://emailsignature.trustpilot.com/signature/it-IT/3/4e24ab7b0000640005104262/text.png\"/>\n          </v:shape>\n      <![endif]--><![if !vml]><span style=\"mso-ignore:vglayout\"><img border=\"0\" width=\"171\" height=\"16\" src=\"https://emailsignature.trustpilot.com/signature/it-IT/3/4e24ab7b0000640005104262/text.png\" style=\"max-height: 16px\" alt=\"Check out our reviews\" v:shapes=\"_x0000_i1075\">\n</span><![endif]><br>\n<!--[if gte vml 1]>\n        <v:shape id=\"_x0000_i1076\" alt=\"Trustpilot Stars\"\n         href=\"https://it.trustpilot.com/review/www.agos.it?utm_medium=Trustbox&amp;utm_source=EmailSignature3\"\n         target=\"&quot;_blank&quot;\" style='width:120pt;height:30pt' o:button=\"t\">\n         <v:imagedata src=\"https://emailsignature.trustpilot.com/signature/it-IT/3/4e24ab7b0000640005104262/stars.png\" o:href=\"https://emailsignature.trustpilot.com/signature/it-IT/3/4e24ab7b0000640005104262/stars.png\"/>\n        </v:shape>\n      <![endif]--><![if !vml]><span style=\"mso-ignore:vglayout\"><img border=\"0\" width=\"160\" height=\"40\" src=\"https://emailsignature.trustpilot.com/signature/it-IT/3/4e24ab7b0000640005104262/stars.png\" style=\"max-width: 160px; width:100%\" alt=\"Trustpilot Stars\" v:shapes=\"_x0000_i1076\">\n</span><![endif]></span></a><br font-size:12px;color:#aaa=\"\">\nsviluppato da <a href=\"https://it.trustpilot.com/review/www.agos.it?utm_medium=Trustbox&amp;utm_source=EmailSignature3\" target=\"_blank\">\n<!--[if gte vml 1]>\n          <v:shape id=\"_x0000_i1077\" alt=\"Trustpilot Logo\"\n           href=\"https://it.trustpilot.com/review/www.agos.it?utm_medium=Trustbox&amp;utm_source=EmailSignature3\"\n           target=\"&quot;_blank&quot;\" style='width:70.5pt;height:7.5pt' o:button=\"t\">\n           <v:imagedata src=\"https://emailsignature.trustpilot.com/logo/s/3/logo.png\" o:href=\"https://emailsignature.trustpilot.com/logo/s/3/logo@2x.png\"/>\n          </v:shape>\n        <![endif]--><![if !vml]><span style=\"mso-ignore:vglayout\"><img border=\"0\" width=\"94\" height=\"10\" src=\"https://emailsignature.trustpilot.com/logo/s/3/logo.png\" style=\"max-width: 94px; width:100%\" alt=\"Trustpilot Logo\" v:shapes=\"_x0000_i1077\">\n</span><![endif]></a></div>\n</body>\n</html>\n","text":"\nEstrai le informazioni utili per il credito al consumo che Mediobanca chiama \"consumer finance\" (CF). Evidenzia i punti che vengono presentati come più importanti per indicare l'andamento del trimestre e dell'anno fiscale\n[Check out our reviews]\n[Trustpilot Stars] <https://it.trustpilot.com/review/www.agos.it?utm_medium=Trustbox&utm_source=EmailSignature3>\nsviluppato da [Trustpilot Logo]  <https://it.trustpilot.com/review/www.agos.it?utm_medium=Trustbox&utm_source=EmailSignature3>\n","textAsHtml":"<p>Estrai le informazioni utili per il credito al consumo che Mediobanca chiama &quot;consumer finance&quot; (CF). Evidenzia i punti che vengono presentati come pi&ugrave; importanti per indicare l&apos;andamento del trimestre e dell&apos;anno fiscale<br/>[Check out our reviews]<br/>[Trustpilot Stars] &lt;<a href=\"https://it.trustpilot.com/review/www.agos.it?utm_medium=Trustbox&utm_source=EmailSignature3\">https://it.trustpilot.com/review/www.agos.it?utm_medium=Trustbox&utm_source=EmailSignature3</a>&gt;<br/>sviluppato da [Trustpilot Logo]  &lt;<a href=\"https://it.trustpilot.com/review/www.agos.it?utm_medium=Trustbox&utm_source=EmailSignature3\">https://it.trustpilot.com/review/www.agos.it?utm_medium=Trustbox&utm_source=EmailSignature3</a>&gt;</p>","subject":"analyze trimestrale mediobanca q2 25","references":"<PAZP264MB2734FBB6536D76ADA5D09A429726A@PAZP264MB2734.FRAP264.PROD.OUTLOOK.COM>","date":"2025-08-01T06:50:55.000Z","to":{"value":[{"address":"mbhrlive@gmail.com","name":""}],"html":"<span class=\"mp_address_group\"><a href=\"mailto:mbhrlive@gmail.com\" class=\"mp_address_email\">mbhrlive@gmail.com</a></span>","text":"mbhrlive@gmail.com"},"from":{"value":[{"address":"a.tovani@agos.it","name":"TOVANI ALESSANDRO"}],"html":"<span class=\"mp_address_group\"><span class=\"mp_address_name\">TOVANI ALESSANDRO</span> &lt;<a href=\"mailto:a.tovani@agos.it\" class=\"mp_address_email\">a.tovani@agos.it</a>&gt;</span>","text":"\"TOVANI ALESSANDRO\" <a.tovani@agos.it>"},"messageId":"<PAZP264MB2734E458EF35724ED83BF2859726A@PAZP264MB2734.FRAP264.PROD.OUTLOOK.COM>","inReplyTo":"<PAZP264MB2734FBB6536D76ADA5D09A429726A@PAZP264MB2734.FRAP264.PROD.OUTLOOK.COM>"}}]},"versionId":"b18f6039-190e-43b7-af5f-fc4fa30bd75a","triggerCount":1,"tags":[]}