wf/My workflow.json
{"createdAt":"2025-07-16T06:39:26.628Z","updatedAt":"2025-07-29T20:39:54.000Z","id":"Lmfxo3mDoVlvYYJh","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,592],"id":"67c528b1-8faa-4cad-99f9-ca9840704b57","name":"Schedule Trigger"},{"parameters":{"url":"https://www.google.com/alerts/feeds/13497557253313706052/14096825187988138307","options":{"ignoreSSL":false}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[112,832],"id":"4dad8178-a0bc-437e-928b-5660ff0b871f","name":"RSS Read","notesInFlow":true,"retryOnFail":true,"alwaysOutputData":false,"notes":"google alert rss"},{"parameters":{"operation":"write","fileName":"/data/urls.json","dataPropertyName":"=data","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2784,784],"id":"d2de5bc7-e59c-4e78-b50e-5073057e2ac2","name":"Read/Write Files from Disk","disabled":true},{"parameters":{"operation":"toJson","options":{"addBOM":false,"format":false,"encoding":"utf8","fileName":"urls.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2640,784],"id":"80b88744-5f88-4d10-98d9-e565da254bac","name":"Convert to File"},{"parameters":{"command":"cd /Users/minime2/ ; echo \"n\" | /usr/bin/python3 -u article_processor_v0.py"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2992,688],"id":"d9d77d5a-2b9f-459f-98a2-d6ef0519b67e","name":"Execute Command","disabled":true},{"parameters":{"numberInputs":4},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2032,768],"id":"c51987b2-f21c-4548-970c-0389fdf39530","name":"Merge"},{"parameters":{"method":"POST","url":"https://www.inoreader.com/oauth2/token","sendBody":true,"bodyParameters":{"parameters":[{"name":"grant_type","value":"refresh_token"},{"name":"client_id","value":"1000001885"},{"name":"client_secret","value":"llorkTwH5bHKujI1f1udJy47iBT2Ddky"},{"name":"refresh_token","value":"0e013e4f686df9e6f44c51bf86c9edeb09814f60"},{"name":"redirect_uri","value":"https://oauth.pstmn.io/v1/callback"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,1152],"id":"626d1e03-6879-460f-b667-7cff08a814aa","name":"Get Ino Token"},{"parameters":{"url":"https://www.inoreader.com/reader/api/0/stream/contents/user/-/state/com.google/starred","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,1264],"id":"4509c7d3-4b23-4819-9309-f5432185057b","name":"Get Ino News","notesInFlow":true,"notes":"get inoreader starred"},{"parameters":{"fieldToSplitOut":"items","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[528,1264],"id":"6ba63bf0-7853-4457-8d89-670c89bd9284","name":"find news","alwaysOutputData":false},{"parameters":{"url":"https://api.raindrop.io/rest/v1/raindrops/0","sendQuery":true,"queryParameters":{"parameters":[{"name":"sort","value":"- created"},{"name":"page","value":"0"},{"name":"perpage","value":"50"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer d5c9cf0f-5844-450c-be41-eee301cb9b71"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,512],"id":"8c99563b-c9b2-4699-9a55-9a2de92e3348","name":"Raindrop get"},{"parameters":{"fieldToSplitOut":"items","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[432,640],"id":"3d1b3ea8-9048-400b-aaca-8ce5578300a9","name":"find bookmark","alwaysOutputData":false},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('search file').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[432,224],"id":"a9e99d3e-a8a5-4e90-b5ec-6f10dc1d8ca0","name":"download file"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Prendi il nome del file dal nodo precedente\nconst fileName = $('download file').first().json.nome;\n\n// Usa la funzione helper di n8n per ottenere il buffer binario\nconst binaryDataBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\n// Converti in base64\nconst base64Data = Buffer.from(binaryDataBuffer).toString('base64');\n\nreturn {\n  json: {\n    pdfBase64: base64Data,\n    fileName: fileName\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,368],"id":"ad1f7a2b-2f7c-4cd6-9d03-d213b3295ed6","name":"Code","notesInFlow":true,"notes":"trasforma base64"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1Qn8rsl0ZvR-V9k1Z9DoR0-NWiM6SDUFJ","mode":"list","cachedResultName":"NEW","cachedResultUrl":"https://drive.google.com/drive/folders/1Qn8rsl0ZvR-V9k1Z9DoR0-NWiM6SDUFJ"},"includeTrashed":false},"options":{"fields":["id","name","webViewLink"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[112,208],"id":"0dcd59b3-5556-4619-911a-83674662d71b","name":"search file"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"x-api-key"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-3-5-haiku-20241022\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"document\",\n          \"source\": {\n            \"type\": \"base64\",\n            \"media_type\": \"application/pdf\",\n            \"data\": \"{{ $node[\"Merge1\"].json.pdfBase64 }}\"\n          }\n        },\n        {\n          \"type\": \"text\", \n          \"text\": \"Scrivi tutto in formato markdown in modo che sia facilmente consultabile da Obsidian. Devi analizzare questo PDF e restituire gli elementi più importanti in 5 punti. Crea uno o più tag specifici per ogni fotografo o fotografa citato nel testo. il tag deve contenere solo il cognome del fotografo (es. #capa) se è un cognome doppio usa il trattino (es. #berengo-gardin). non servono tag correlati metti solo i tag relativi ai fotografi. Attenzione che i tag abbiano sempre uno spazio davanti.\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,272],"id":"0b9ea243-1ff1-499f-aa51-5f88ac325338","name":"Send-to-anthropic"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $('search file').item.json.id }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1oZo8OqpwwucujHR_WN96V_gLk7xbimDf","mode":"list","cachedResultName":"ARK","cachedResultUrl":"https://drive.google.com/drive/folders/1oZo8OqpwwucujHR_WN96V_gLk7xbimDf"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1120,400],"id":"fef6e213-06b4-457c-9f90-28f88efd58f7","name":"Google Drive","notesInFlow":true,"notes":"sposto in DOC"},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $('search file').item.json.id }}","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1312,400],"id":"d6f3cc26-3901-475a-8570-83a74ff15230","name":"Google Drive1","notesInFlow":true,"notes":"condivido file"},{"parameters":{"method":"POST","url":"https://www.inoreader.com/reader/api/0/edit-tag","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Ino Token').item.json.access_token }}"},{"name":"Content-Type","value":"application/x-www-form-urlencoded"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"a","value":"user/-/state/com.google/starred"},{"name":"r","value":"user/-/state/com.google/starred"},{"name":"i","value":"={{ $('find news').item.json.items.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,1152],"id":"a9816162-2544-47b1-a3f7-cfc65f9e043f","name":"HTTP Request","notesInFlow":true,"notes":"togli starred"},{"parameters":{"assignments":{"assignments":[{"id":"63602803-dbc4-4b19-b3f8-e81be75d68b0","name":"link","value":"={{ $json.items.canonical[0].href }}","type":"string"},{"id":"111e875b-930a-45f9-be53-a98b35806d2e","name":"title","value":"={{ $json.items.title }}","type":"string"},{"id":"513acad9-e9fe-4c72-a02a-025389ac4a8e","name":"content","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[848,1264],"id":"624e4c44-2f58-4ae1-9f36-8346b3362677","name":"INO urls"},{"parameters":{"assignments":{"assignments":[{"id":"f5d14898-4859-4e6a-8106-140b90d6b654","name":"link","value":"={{ $json.link.split('url=')[1].split('&')[0] }}","type":"string"},{"id":"1acd4c34-ce02-4bc9-bc3e-10bc6555e269","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"95accb8c-81bd-4e89-8c15-313673f62157","name":"content","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,960],"id":"c9418463-813d-4566-84fd-31ee53d9d144","name":"ALERT urls","notesInFlow":true,"notes":"estrai url vero"},{"parameters":{"assignments":{"assignments":[{"id":"9633a0ed-1415-4aa5-ad05-e42dae67444b","name":"link","value":"={{ $json.items.link }}","type":"string"},{"id":"a74492e5-f18f-4c59-b40a-ad07685d9f15","name":"title","value":"={{ $json.items.title }}","type":"string"},{"id":"a94481ec-9a95-424c-859a-f947585e7676","name":"content","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,688],"id":"20c4a0ec-6a63-4b3f-ab25-388c67901e28","name":"RAINDROP urls"},{"parameters":{"assignments":{"assignments":[{"id":"f76209e4-d7d4-47ee-b5f4-ef5e041de004","name":"link","value":"={{ $('search file').item.json.webViewLink }}","type":"string"},{"id":"3f8a1d32-c45d-4402-80c1-de42c0cad0e9","name":"title","value":"={{ $('download file').item.json.name.split('.pdf')[0] }}","type":"string"},{"id":"2004b7be-bfd6-41e6-9dbf-f8f7d9729594","name":"content","value":"={{ $json.content[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1728,272],"id":"a4367bba-505d-434a-aebf-bfa5451099b6","name":"PDF content"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[880,288],"id":"25ac0537-c924-4846-9dfc-02ad23dea9d5","name":"Merge1"},{"parameters":{"events":["activate"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-480,304],"id":"22a1d8ad-8da7-4de2-8fe4-318df0819134","name":"n8n Trigger"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-224,432],"id":"5e6d41d6-99fa-40a5-8a96-8d5fd29d80db","name":"No Operation, do nothing"},{"parameters":{"chatId":"40281969","text":"workflow attivato","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"id":"3c41ebf7-8755-4480-8e12-3fdced95798f","name":"ALIVE!","webhookId":"a1b83ee4-99ca-4771-9091-9406e651d269"}],"connections":{"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"RSS Read":{"main":[[{"node":"ALERT urls","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Get Ino Token":{"main":[[{"node":"Get Ino News","type":"main","index":0}]]},"Get Ino News":{"main":[[{"node":"find news","type":"main","index":0}]]},"find news":{"main":[[{"node":"INO urls","type":"main","index":0}]]},"Raindrop get":{"main":[[{"node":"find bookmark","type":"main","index":0}]]},"find bookmark":{"main":[[{"node":"RAINDROP urls","type":"main","index":0}]]},"download file":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"search file":{"main":[[{"node":"download file","type":"main","index":0}]]},"Send-to-anthropic":{"main":[[{"node":"PDF content","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Send-to-anthropic","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":3}]]},"INO urls":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"ALERT urls":{"main":[[{"node":"Merge","type":"main","index":2}]]},"RAINDROP urls":{"main":[[{"node":"Merge","type":"main","index":1}]]},"PDF content":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"search file","type":"main","index":0},{"node":"Raindrop get","type":"main","index":0},{"node":"RSS Read","type":"main","index":0},{"node":"Get Ino Token","type":"main","index":0},{"node":"ALIVE!","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"758f293c-f196-4621-9d05-24df3da53833","triggerCount":0,"tags":[]}