wf/My workflow 9.json
{"createdAt":"2025-07-28T03:49:24.075Z","updatedAt":"2025-07-28T03:49:24.075Z","id":"ioFxcYHHXRisioPy","name":"My workflow 9","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"bc3b1cb4-24e4-464b-9fc3-5e8dadc24b65","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","position":[-224,320],"typeVersion":1},{"parameters":{"resource":"playlistItem","operation":"getAll","playlistId":"REDACTED","part":["*","contentDetails","snippet","id","status"],"returnAll":true,"options":{}},"id":"c0ca3233-836e-4f22-a268-497be4b86059","name":"YouTube Playlist","type":"n8n-nodes-base.youTube","position":[128,320],"typeVersion":1,"credentials":{"youTubeOAuth2Api":{"id":"uDUXO66ATfjH79UP","name":"YouTube account"}}},{"parameters":{"content":"## step 1","height":540,"width":940,"color":4},"id":"260e8b82-3bae-4170-ad25-aca7c7fd4e90","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"url","value":"REDACTED"},"sheetName":{"__rl":true,"mode":"list","value":"REDACTED","cachedResultUrl":"REDACTED","cachedResultName":"Sheet1"},"columns":{"value":{"script":"={{ $('scirpt').item.json.script }}","summery":"={{ $json.output }}","row_number":"={{ $('Loop Over Items1').item.json.id }}","video titles":"={{ $('Loop Over Items1').item.json.title }}"},"schema":[{"id":"video titles","type":"string","display":true,"removed":false,"required":false,"displayName":"video titles","defaultMatch":false,"canBeUsedToMatch":true},{"id":"script","type":"string","display":true,"required":false,"displayName":"script","defaultMatch":false,"canBeUsedToMatch":true},{"id":"summery","type":"string","display":true,"required":false,"displayName":"summery","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"94ac85de-e40e-4148-941c-3740ee7dbd6b","name":"Google Sheets3","type":"n8n-nodes-base.googleSheets","position":[3168,320],"typeVersion":4.6},{"parameters":{"promptType":"define","text":"=Summarize the following podcast script.\nThe summary must be clear, well-organized, and comprehensive.\n\nInclude all important information, data, and key points from the script.\n\nDivide the summary into sections according to the main topics, ideas, or parts discussed in the podcast.\n\nFor each section, list all main points, facts, examples, and arguments mentioned.\n\nDo not omit any significant information or insight.\n\nThe summary should be detailed enough to give a full understanding of the podcast, but avoid unnecessary repetition or filler.\n\nUse headings and bullet points for clarity.\n\nThe result should be useful for someone who has not listened to the podcast but wants to understand all its important content and insights. podcast: {{ $json.firstTenSentences }}","options":{}},"id":"76c22e0c-2d65-4652-97f4-4af7b44213be","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[2560,160],"typeVersion":2},{"parameters":{"content":"## step 5 : 📊 **Google Sheets3**\n\n## Updates a Google Sheet with video titles, scripts, summaries, and row numbers. ","height":540,"width":440,"color":4},"id":"f74a5837-e69d-4003-8741-c1ae976aec2c","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[3008,0],"typeVersion":1},{"parameters":{"options":{}},"id":"dc38a96b-8117-491d-95e8-01185afd63fe","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","position":[1264,320],"typeVersion":3},{"parameters":{"model":"llama-3.1-8b-instant","options":{}},"id":"bc66e20e-be68-4433-8574-6172eee9d225","name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","position":[2528,368],"typeVersion":1},{"parameters":{"jsCode":"// Combine all \"text\" fields from the content array into one string\nlet script = '';\n\n// Loop through all input items\nfor (const item of items) {\n  if (item.json.content && Array.isArray(item.json.content)) {\n    for (const segment of item.json.content) {\n      if (segment.text) {\n        script += segment.text + ' ';\n      }\n    }\n  }\n}\n\nscript = script.trim();\n\nreturn [\n  {\n    json: {\n      script\n    }\n  }\n];\n"},"id":"c8abb03f-92d1-496e-b4a3-87b2869c0d49","name":"scirpt","type":"n8n-nodes-base.code","position":[1952,320],"typeVersion":2},{"parameters":{"url":"=https://api.supadata.ai/v1/transcript?url=https://youtu.be/{{ $json.videoId}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"REDACTED"}]},"options":{}},"id":"78978982-e4ab-4592-bf74-f9cf880ba89a","name":"supadata","type":"n8n-nodes-base.httpRequest","position":[1648,320],"typeVersion":4.2},{"parameters":{"functionCode":"// Extract video URLs, titles, and add an id starting from 2\nreturn items.map((item, index) => {\n  const videoId = item.json.snippet.resourceId.videoId;\n  const title = item.json.snippet.title;\n  return {\n    json: {\n      id: index + 2,\n      url: `https://www.youtube.com/watch?v=${videoId}`,\n      title: title\n    }\n  };\n});\n"},"id":"cc3940d6-a6a2-4cdf-a9e1-271947d0557c","name":"titles/URL","type":"n8n-nodes-base.function","position":[432,320],"typeVersion":1},{"parameters":{"jsCode":"return items.map((item, index) => {\n  // Get the URL and title from the input\n  const url = item.json.url;\n  const title = item.json.title || null;\n  // Extract the video ID from the URL\n  let videoId = null;\n  if (url && url.includes('v=')) {\n    videoId = url.split('v=')[1].split('&')[0];\n  }\n  // id starts from 1; change to index+2 if you want to start from 2\n  return {\n    json: {\n      id: index + 2,\n      videoId,\n      title\n    }\n  };\n});\n"},"id":"bc145c5d-dc6e-4042-a80f-a1797fecc3ce","name":"video ID","type":"n8n-nodes-base.code","position":[720,320],"typeVersion":2},{"parameters":{"jsCode":"// Get the script text\nconst script = items[0].json.script || \"\";\n\n// Split into sentences using a regular expression\nconst sentences = script.match(/[^\\.!\\?]+[\\.!\\?]+/g) || [];\n\n// Get the first 10 sentences (or fewer if less than 10)\nconst firstTen = sentences.slice(0, 5).join(' ').trim();\n\nreturn [\n  {\n    json: {\n      firstTenSentences: firstTen\n    }\n  }\n];\n"},"id":"2411b442-78bf-42df-b1d0-a12a051f6eed","name":"Code1","type":"n8n-nodes-base.code","position":[2224,320],"typeVersion":2},{"parameters":{"fieldToSplitOut":"id, videoId, title","options":{}},"id":"89490823-a1ec-4df6-b38e-979473e3f293","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[1072,320],"typeVersion":1},{"parameters":{"content":"📺 **YouTube Playlist**\n\nFetches all videos from a specific YouTube playlist.\n\n**How to change:** Change the `playlistId` to use a different playlist. Adjust `part` to fetch different details. Change credentials for another YouTube account.","height":420,"width":260,"color":5},"id":"258c0140-09fa-4ca9-a62d-d8bda5071948","name":"YouTube Playlist Note","type":"n8n-nodes-base.stickyNote","position":[48,80],"typeVersion":1},{"parameters":{"content":"🔗 **titles/URL (Function Node)**\n\nExtracts video URLs and titles from the playlist data and assigns a row ID.\n","height":420,"width":260,"color":5},"id":"751cc0de-d963-480f-b798-f067a9d6fa3f","name":"titles/URL Note","type":"n8n-nodes-base.stickyNote","position":[352,80],"typeVersion":1},{"parameters":{"content":"🆔 **video ID (Code Node)**\n\nExtracts the video ID from each YouTube URL.\n","height":420,"width":260,"color":5},"id":"9aefcced-3c43-45ec-8620-407018767b72","name":"video ID Note","type":"n8n-nodes-base.stickyNote","position":[640,80],"typeVersion":1},{"parameters":{"content":"📝 **supadata (HTTP Request Node)**\n\nCalls the Supadata API to get the transcript for each video.\n\n**How to change:** Update the API URL or key if the service changes. Modify request headers or parameters for other APIs.","height":440,"width":260,"color":5},"id":"b057de2f-255a-4aab-a0ee-21481bf124d4","name":"supadata Note","type":"n8n-nodes-base.stickyNote","position":[1568,64],"typeVersion":1},{"parameters":{"content":"📜 **scirpt (Code Node)**\n\nCombines the transcript segments into a single script string.\n\n**How to change:** Change logic to format or preprocess the script differently (e.g., filter out certain lines).","height":440,"color":5},"id":"a36dc322-7a81-4f11-be56-5188415be13a","name":"scirpt Note","type":"n8n-nodes-base.stickyNote","position":[1872,64],"typeVersion":1},{"parameters":{"content":"✂️ **Code1 (Code Node)**\n\nExtracts the first few sentences from the script for summarization.\n\n**How to change:** Adjust the number of sentences extracted. Change the splitting logic for different transcript formats.","height":440,"color":5},"id":"a35b4e92-6ab2-4ca3-8ff8-3ae0317beeb2","name":"Code1 Note","type":"n8n-nodes-base.stickyNote","position":[2160,64],"typeVersion":1},{"parameters":{"content":"## step 2","height":540,"width":440,"color":4},"id":"8f8263c0-f5b1-41f5-ac53-5c42baf1f29e","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[1008,0],"typeVersion":1},{"parameters":{"content":"## step 3","height":540,"width":940,"color":4},"id":"0330d145-a8e3-4b18-b92f-21dc1ec10b7f","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[1504,0],"typeVersion":1},{"parameters":{"content":"## step 4 : 🤖 **Groq Chat Model (LLM Node)**\n\nchange the prompt if you want or change the ai model","height":540,"width":480,"color":4},"id":"4864ab55-29fa-4c93-87f2-a1883d152ea5","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[2480,0],"typeVersion":1}],"connections":{"Code1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"scirpt":{"main":[[{"node":"Code1","type":"main","index":0}]]},"supadata":{"main":[[{"node":"scirpt","type":"main","index":0}]]},"video ID":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"titles/URL":{"main":[[{"node":"video ID","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"supadata","type":"main","index":0}]]},"YouTube Playlist":{"main":[[{"node":"titles/URL","type":"main","index":0}]]},"When clicking 'Execute workflow'":{"main":[[{"node":"YouTube Playlist","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"91437cb2-01bc-4e7f-9222-36f368e7ded4","triggerCount":0,"tags":[]}