wf/NEWS WORK.json
{"createdAt":"2025-07-15T19:34:45.679Z","updatedAt":"2025-07-24T03:00:33.000Z","id":"YAY6iURkOYoL7rFx","name":"NEWS WORK","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-944,128],"id":"27eb8457-b688-46b6-9db9-a854427da2eb","name":"Schedule Trigger"},{"parameters":{"url":"={{ $json.link }}","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[0,0],"id":"8c0e9187-7839-43df-a986-f7fd92684643","name":"RSS Read1"},{"parameters":{"documentId":{"__rl":true,"value":"1tIS1goM-_3gk3B0XelNYnY1sNhmZ7t34SJSm7pLa22k","mode":"list","cachedResultName":"link rss work","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tIS1goM-_3gk3B0XelNYnY1sNhmZ7t34SJSm7pLa22k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tIS1goM-_3gk3B0XelNYnY1sNhmZ7t34SJSm7pLa22k/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-176,128],"id":"17a05cd2-c542-4b5a-95dc-7ffb9403af51","name":"CARICA RSS","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ed651980-2d0e-43ee-82b2-7f544876a135","name":"link","value":"={{ $json.link.split('url=')[1].split('&')[0] }}","type":"string"},{"id":"0985dba7-abfc-4163-af7a-5ae7b807e2d1","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"f9a986c9-3d0a-4ee0-988d-915399490a9f","name":"content","value":"={{ $json.content }}","type":"string"},{"id":"41cacfcf-9a02-4837-b9c6-911d8bccd205","name":"date","value":"={{ $json.pubDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,144],"id":"ac5f3494-4fd0-4f4d-872f-e50ceb188fde","name":"ESTRAE URL"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[352,288],"id":"559a15bc-c959-4490-adee-3991b4b9807c","name":"Merge"},{"parameters":{"promptType":"define","text":"=Sei un news analyst che cerca notizie sul \"credito al consumo\". Ti vengono inviati dei link a delle notizie in input ({{ $json.link }}).\nVerifica se la notizia è davvero relativa al credito al consumo perché è normale che possano esserci notizie di altro tipo. \nIN OGNI CASO metti una \"X\" nel campo \"processed\" usando il tool (SINTESI) in modo da indicare che il link è stato processato\nPOI, SOLO SE VEDI CHE LA NOTIZIA PARLA DI CREDITO AL CONSUMO, fai le cose che seguono: \n- realizza una sintesi in max 5 punti (va bene se o meno) \n- Scrivi la sintesi nello sheet indicato dal tool nel campo \"sintesi\" (usanto il tool SINTESI). \n- invia un messaggio telegram usando il tool (MESSAGE).\nnel messaggio telegram includi il link e la tua sintesi in 5 punti (o meno).\n\nscrivi tutto in italiano.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-384,592],"id":"92b16694-ff90-45ff-bee9-63075e3b9a70","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"claude-3-5-haiku-20241022","mode":"list","cachedResultName":"Claude Haiku 3.5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-496,848],"id":"391ea5c7-f289-460c-b6f4-e745ce1c6cb6","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"plCvpG6R0cFbJKu5","name":"Anthropic account"}}},{"parameters":{"chatId":"40281969","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[-336,848],"id":"f8ff6ab8-f9f4-4326-81c8-02ebae77e68c","name":"MESSAGE","webhookId":"24bc1338-3e14-4fc2-8c25-d7c50e6275c9","credentials":{"telegramApi":{"id":"F7ZoudlMo9As5nHs","name":"Telegram account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"HERE YOU WRITE YOUR SYNTHESIS OF NEWS PROVIDED","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk","mode":"list","cachedResultName":"NEWS WORK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"excerpt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('excerpt', ``, 'string') }}","link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('link__using_to_match_', ``, 'string') }}","processed":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('processed', ``, 'string') }}","sintesi":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sintesi', ``, 'string') }}"},"matchingColumns":["link"],"schema":[{"id":"data added","displayName":"data added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"excerpt","displayName":"excerpt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sintesi","displayName":"sintesi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"processed","displayName":"processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-96,848],"id":"a41045c1-2220-4fb8-8d06-4de0b234d3d4","name":"SINTESI","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk","mode":"list","cachedResultName":"NEWS WORK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[784,288],"id":"5ba3b18a-489e-4507-9531-07530f9d1a33","name":"prendi actual","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"90fc766e-7e38-460b-a673-eeedfdb3d8d3","leftValue":"={{ $json.processed }}","rightValue":"empty","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[960,288],"id":"0d1fd1a2-3008-47b6-8243-01328616e07d","name":"Filter1","notesInFlow":true,"notes":"togli i già processati"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk","mode":"list","cachedResultName":"NEWS WORK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"data added":"={{ $json.date }}","link":"={{ $json.link }}","title":"={{ $json.title }}","content":"={{ $json.content }}","topic":"={{ $('CARICA RSS').item.json.topic }}"},"matchingColumns":["link"],"schema":[{"id":"data added","displayName":"data added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"excerpt","displayName":"excerpt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sintesi","displayName":"sintesi","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"processed","displayName":"processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[592,160],"id":"08b96260-ca30-4bd2-8c86-2d8b3f80aa69","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk","mode":"list","cachedResultName":"NEWS WORK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-752,272],"id":"f7fb117a-b5d3-4b75-bd71-30240ffcc156","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"jsCode":"return $input.all().filter(item => {\n  const dataString = item.json[\"data added\"];\n  if (!dataString) return false;\n\n  const dateField = new Date(dataString);\n  if (isNaN(dateField.getTime())) return false;\n\n  const yesterday = new Date();\n  yesterday.setHours(0,0,0,0);\n  yesterday.setDate(yesterday.getDate() - 2);\n\n  return dateField < yesterday;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,272],"id":"7c57fddc-9d1c-4048-8a9a-8c0399057c98","name":"Code"},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk","mode":"list","cachedResultName":"NEWS WORK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk/edit#gid=0"},"startIndex":"={{ $json.row_number }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-400,272],"id":"e12bf40a-96da-4a64-9e44-865dddfa9f59","name":"Delete rows or columns from sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-288,-160],"id":"6ba5caf4-472c-4088-8223-b58ffa31dfc0","name":"Wait","webhookId":"68e9223b-a154-455c-9b9b-5f1ef502afb0"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"RSS Read1":{"main":[[{"node":"ESTRAE URL","type":"main","index":0}]]},"CARICA RSS":{"main":[[{"node":"RSS Read1","type":"main","index":0}]]},"ESTRAE URL":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"MESSAGE":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SINTESI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"prendi actual":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"prendi actual","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"CARICA RSS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"54c0e1ae-7e3a-4884-be8f-b0a71575d54b","triggerCount":1,"tags":[]}