wf/NEWS FOTORADIO.json
{"createdAt":"2025-07-15T20:29:27.120Z","updatedAt":"2025-07-30T08:50:25.000Z","id":"MxMX8LormzP03FfC","name":"NEWS FOTORADIO","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":17}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-768,-128],"id":"bd8f6b9a-9332-4dec-aa0f-54f314112979","name":"Schedule Trigger"},{"parameters":{"url":"={{ $json.link }}","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[592,-800],"id":"bf6bb914-6325-4cd6-bca1-b5df73c1c932","name":"RSS Read1"},{"parameters":{"documentId":{"__rl":true,"value":"1tIS1goM-_3gk3B0XelNYnY1sNhmZ7t34SJSm7pLa22k","mode":"list","cachedResultName":"link rss","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tIS1goM-_3gk3B0XelNYnY1sNhmZ7t34SJSm7pLa22k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tIS1goM-_3gk3B0XelNYnY1sNhmZ7t34SJSm7pLa22k/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"argomento","lookupValue":"fotoradio"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[288,-784],"id":"1a77ce58-4df3-437e-b763-2e5bb8d5c501","name":"CARICA RSS","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ed651980-2d0e-43ee-82b2-7f544876a135","name":"link","value":"={{ $json.link.split('url=')[1].split('&')[0] }}","type":"string"},{"id":"0985dba7-abfc-4163-af7a-5ae7b807e2d1","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"f9a986c9-3d0a-4ee0-988d-915399490a9f","name":"content","value":"={{ $json.content }}","type":"string"},{"id":"41cacfcf-9a02-4837-b9c6-911d8bccd205","name":"date","value":"={{ $json.pubDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,-800],"id":"982f1222-50d7-4565-93ea-d5c414eb28e5","name":"ESTRAE URL"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1024,-128],"id":"634bffb4-79f7-4350-aafa-b0be3e9225ae","name":"Merge"},{"parameters":{"promptType":"define","text":"=Sei un collaboratore di FOTORADIO, un podcast sulle fotografie che parla di mostre fotografiche, di festival fotografici, di fotografi e di fotografe.\nTi vengono inviati dei link a delle notizie in input ({{ $json.link }}).\n\nPer ogni notizia, metti una \"X\" nel campo \"processed\" usando il tool (SINTESI) in modo da indicare che il link è stato processato.\n\nProcessa queste notizie leggendo quanto riportato nel link e producendo una sintesi in 5 punti della notizia. Se si menziona uno o più fotografi costruisci un tag con il cognome del fotografo (es. #berengo-gardin). Crea il tag solo e soltanto per indicare un fotografo e niente altro. se non si menzionano fotografi, semplicemente non creare il tag.\n\nScrivi la tua sintesi per la notizia nel campo \"excerpt\" e metti una \"X\" nel campo \"processed\" usando il tool SINTESI.\n\nscrivi tutto in italiano.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-144,496],"id":"9c978cbc-a2d9-4c6f-adbd-e716dc70ad47","name":"AI Agent","executeOnce":false,"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"chatId":"40281969","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[-96,704],"id":"8e1e1702-cbf0-4302-8a2b-a60a6517dc4c","name":"MESSAGE","webhookId":"d19860c3-07b4-4ce4-9275-5b544bada5f2","disabled":true},{"parameters":{"descriptionType":"manual","toolDescription":"HERE YOU WRITE YOUR SYNTHESIS OF NEWS PROVIDED","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c","mode":"list","cachedResultName":"NEWS FOTORADIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"excerpt":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('excerpt', ``, 'string') }}","processed":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('processed', ``, 'string') }}","link":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('link', ``, 'string') }}"},"matchingColumns":["link"],"schema":[{"id":"data added","displayName":"data added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"excerpt","displayName":"excerpt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"processed","displayName":"processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[32,704],"id":"5a1694a7-7ebd-401a-af42-24fdf7aa980a","name":"SINTESI","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c","mode":"list","cachedResultName":"NEWS FOTORADIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1472,-128],"id":"f4567f51-e5b7-43a6-907a-4c3052184289","name":"prendi actual","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"90fc766e-7e38-460b-a673-eeedfdb3d8d3","leftValue":"={{ $json.processed }}","rightValue":"empty","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1696,-128],"id":"7e86b734-55b8-468b-b353-9466d84aa61d","name":"Filter1","notesInFlow":true,"executeOnce":false,"notes":"togli i già processati"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c83a4baf-246e-4eae-ac34-71b81b76acbd","leftValue":"={{$json[\"error\"][\"message\"] }}","rightValue":"=Overloaded","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[288,256],"id":"6e5beb80-782a-400e-b216-9be34344ca87","name":"If"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[480,240],"id":"3c86b3e9-9b7f-4fe2-876a-b63f9cd2c7dd","name":"Wait","webhookId":"cbd0fef7-5a27-428a-92a7-e0f1ce3be356"},{"parameters":{"jsCode":"const markdownContent = `# Documento Creato\n\nQuesto è il contenuto markdown generato.\n\n## Sezione 1\nTesto di esempio.\n\n## Sezione 2\nAltro contenuto.\n`;\n\nconst fileName = `documento_${new Date().toISOString().slice(0,10)}.md`;\n\nreturn `File markdown \"${fileName}\" creato con successo!`;"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.2,"position":[144,704],"id":"c4491e4f-19d9-48ee-a58d-18e8f3e912fb","name":"Code Tool","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c","mode":"list","cachedResultName":"NEWS FOTORADIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"processed","lookupValue":"X"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[688,784],"id":"c57fd858-a7a0-4d00-8d88-c3448bc2adcc","name":"ESTRAI DATI","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Questo nodo Code DEVE essere configurato con \"Mode\": \"Run once for all items\".\n// Assume che il nodo precedente (es. un nodo Merge) abbia combinato gli output\n// di \"schedule frigger\" (il cui item contenente il timestamp è il PRIMO)\n// e \"ESTRAI DATI\" (i cui item sono i successivi).\n\n// --- 1. Recupera il Timestamp dal PRIMO item di input ---\n// $input.first() accede al primo item che arriva a questo nodo Code.\nconst timestamp = $input.first().json.timestamp;\n\n// Gestione nel caso il timestamp non sia presente o sia nullo (fallback)\nlet date;\nif (!timestamp) {\n    console.warn(\"Timestamp non trovato nel primo item. Usando la data/ora attuale come fallback.\");\n    date = new Date(); // Fallback alla data/ora attuale\n} else {\n    date = new Date(timestamp);\n}\n\n// Formattazione della data e dell'ora (DD-MM-AA, HH:SS)\nconst day = String(date.getDate()).padStart(2, '0');\nconst month = String(date.getMonth() + 1).padStart(2, '0'); // Mesi sono 0-indexed\nconst year = String(date.getFullYear()).slice(2); // Ottieni solo le ultime due cifre dell'anno\nconst hours = String(date.getHours()).padStart(2, '0');\nconst minutes = String(date.getMinutes()).padStart(2, '0');\n\nconst formattedDate = `${day}-${month}-${year}`;\nconst formattedTime = `${hours}:${minutes}`;\n\nconst mainTitle = `News Fotoradio del ${formattedDate}`;\n\n// --- 2. Inizia il contenuto Markdown ---\nlet markdownContent = `# ${mainTitle}\\n\\n`;\n\n// --- 3. Itera su TUTTI gli items tranne il primo (che contiene il timestamp) ---\n// $input.all() restituisce un array di tutti gli items in input a questo nodo Code.\n// slice(1) serve per saltare il primo item, che è quello del timestamp.\nconst newsItems = $input.all().slice(1);\n\nfor (const item of newsItems) {\n    // Accedi ai campi 'title', 'excerpt', 'link' da ogni oggetto news.\n    // Questi nomi DEVONO corrispondere esattamente ai nomi dei campi in uscita dal nodo \"ESTRAI DATI\".\n    const title = item.json.title;\n    const excerpt = item.json.excerpt;\n    const link = item.json.link;\n\n    // Aggiungi il capitolo per ogni news al contenuto Markdown\n    markdownContent += `## ${title}\\n\\n`;\n    markdownContent += `${excerpt}\\n\\n`;\n    markdownContent += `[Link alla news](${link})\\n\\n`; // Link con sintassi Markdown\n}\n\n// --- 4. Restituisci l'output ---\n// Il nodo Code emetterà un singolo item con il contenuto Markdown e il nome del file.\nreturn {\n    json: {\n        markdownFileContent: markdownContent,\n        fileName: `News Fotoradio del ${formattedDate}, ${formattedTime}.md` // Nome del file per il salvataggio\n    }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,880],"id":"284656e1-d3f3-448c-8525-823e43dbe9ee","name":"Code"},{"parameters":{"operation":"toText","sourceProperty":"markdownFileContent","binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1296,832],"id":"6586b207-2213-4565-a81a-d14392f57d8d","name":"Convert to File"},{"parameters":{"content":"## LEGGE I FEED GOOGLE ALERT IN INPUT E ISOLA I LINK \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":268,"width":548},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,-912],"id":"e401ba45-f19b-44de-8ded-33c476b16c3e","name":"Sticky Note"},{"parameters":{"content":"## SCRIVE LO SHEET DI APPOGGIO E PRENDE SOLO LE RIGHE ANCORA DA PROCESSARE (BLANK) \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":380,"width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[992,-352],"id":"916acd70-09eb-4568-b860-1042200bafab","name":"Sticky Note1"},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## AI LEGGE I LINK ED ELABORA LE SINTESI IMPOSTANDO LO STATO A PROCESSATO (X) \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":540,"width":500},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-272,464],"id":"16b6356b-34ac-4b4e-a644-6f9f165fe239","name":"Sticky Note2"},{"parameters":{"content":"## PRENDIAMO I FILE DA STAMPARE (X) IMPOSTIAMO A STAMPATO (Y) E COSTRUIAMO IL FILE BASE \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":540,"width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,480],"id":"e904b49f-a5f8-4954-bad4-6464c92494c5","name":"Sticky Note3"},{"parameters":{"content":"## SCRIVIAMO IL FILE .MD E ANDIAMO A SALVARE IN DRIVE\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":320,"width":716},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1232,688],"id":"f4c2cde4-d9bb-4a6c-b6d5-cc524c018b8d","name":"Sticky Note4"},{"parameters":{"documentId":{"__rl":true,"value":"1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c","mode":"list","cachedResultName":"NEWS FOTORADIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-496,-816],"id":"eb4175d2-52a9-4b24-b919-73774654650a","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c","mode":"list","cachedResultName":"NEWS FOTORADIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c/edit#gid=0"},"startIndex":"={{ $json.row_number }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[16,-784],"id":"6f4bc1e5-cc54-47c4-9576-d19fc9c28291","name":"Delete rows or columns from sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"jsCode":"return $input.all().filter(item => {\n  const dataString = item.json[\"data added\"];\n  if (!dataString) return false;\n\n  const dateField = new Date(dataString);\n  if (isNaN(dateField.getTime())) return false;\n\n  const yesterday = new Date();\n  yesterday.setHours(0,0,0,0);\n  yesterday.setDate(yesterday.getDate() - 10);\n\n  return dateField < yesterday;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,-832],"id":"69b350cd-3742-4c33-8819-008aa2770a4b","name":"Code1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c","mode":"list","cachedResultName":"NEWS FOTORADIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KwWjzAzU7UcYe0C0I7Pm_NetUqVE3eT-xMQL_lLXEUk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"data added":"={{ $json.date }}","link":"={{ $json.link }}","title":"={{ $json.title }}","content":"={{ $json.content }}","topic":"={{ $('CARICA RSS').item.json.topic }}"},"matchingColumns":["link"],"schema":[{"id":"data added","displayName":"data added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"excerpt","displayName":"excerpt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"processed","displayName":"processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1248,-128],"id":"7ce3e8fe-1439-4d1c-bae1-4129976c5cb7","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-240,704],"id":"cc97eb7b-4d1e-4b81-97b7-a9534a1f46a3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qUMJt5QWAuhALJmk","name":"OpenAi account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c","mode":"list","cachedResultName":"NEWS FOTORADIO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XaZJl5fkwuo0lRhQJmhlZGP6XJ_PdkA1_mMZtR62T4c/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"processed":"Y","link":"={{ $json.link }}"},"matchingColumns":["link"],"schema":[{"id":"data added","displayName":"data added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"topic","displayName":"topic","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"excerpt","displayName":"excerpt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"processed","displayName":"processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[864,672],"id":"d71149bc-8a1b-42ac-9429-b47849f3e57b","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"name":"={{ $('Code').item.json.fileName }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1Y6EL6DmtLNT27LhirUvaAunQ6aS_kacf","mode":"list","cachedResultName":"FOTORADIO N8N","cachedResultUrl":"https://drive.google.com/drive/folders/1Y6EL6DmtLNT27LhirUvaAunQ6aS_kacf"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1504,832],"id":"78023309-1c9a-4f04-99c5-a37be755a138","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"chatId":"40281969","text":"=NUOVO FILE NEWS FOTORADIO PRODOTTO \\N puoi vederlo [qui]({{ $json.webViewLink }})","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1728,832],"id":"dd960d43-eaf7-49fd-b220-67af2d8dd466","name":"Send a text message","webhookId":"1e54627a-3808-426e-b88b-7f30f42431df","credentials":{"telegramApi":{"id":"F7ZoudlMo9As5nHs","name":"TELEGRAM MBHR"}}},{"parameters":{"content":"## CANCELLA I LINK PIù VECCHI DI 10 GIORNI\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":272,"width":704},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-560,-912],"id":"6d947976-315e-4db4-a2ea-9578207e2823","name":"Sticky Note10"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-448,416],"id":"93ecd4ad-b659-407c-b213-32db0b3316b6","name":"Wait1","webhookId":"b6fb7ef1-f500-4dc8-a8f4-40ccdc3d9d9e"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"row_number","order":"descending"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-128,-848],"id":"d24df9d0-9b13-4d74-8d18-db8cf5e651e9","name":"Sort"}],"connections":{"Schedule Trigger":{"main":[[{"node":"CARICA RSS","type":"main","index":0}]]},"RSS Read1":{"main":[[{"node":"ESTRAE URL","type":"main","index":0}]]},"CARICA RSS":{"main":[[{"node":"RSS Read1","type":"main","index":0}]]},"ESTRAE URL":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"MESSAGE":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"SINTESI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"prendi actual":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"ESTRAI DATI","type":"main","index":0}]]},"Wait":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"ESTRAI DATI":{"main":[[{"node":"Update row in sheet","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"prendi actual","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Upload file":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"CARICA RSS","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"528d74f0-25f3-4cec-8475-2966d52d5aa8","triggerCount":1,"tags":[]}