wf/TELEGRAM fotoradio.json
{"createdAt":"2025-07-16T06:48:04.114Z","updatedAt":"2025-07-25T08:34:21.000Z","id":"32JVML6qA2manWaK","name":"TELEGRAM fotoradio","active":false,"isArchived":true,"nodes":[{"parameters":{"model":"sonar-pro","messages":{"message":[{"content":"=Redigi un commento critico esteso su {{ $json.message.text }}: perché è importante per la fotografia? che impatto ha avuto nel mondo? quali elementi artistici ricorrenti lo definiscono? quali caratteristiche peculiari del personaggio, definiscono l'artista?\nElenca i suoi lavori più importanti. \nInserisci la biografia del personaggio. \nRiporta almeno 10 link che contengano commenti autorevoli sul personaggio o approfondimenti sui suoi lavori.\n\nIsola i cognomi dei fotografi che citi nel tuo commento e metti in calce un tag con il cognome (ad es. #Berengo-Gardin).\nFormatta il tuo output in Markdown."}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[208,-176],"id":"8cad7d37-e9ca-4138-9da6-f836942e68ca","name":"Message a model","credentials":{"perplexityApi":{"id":"YUFzaWLAMOrfk9At","name":"Perplexity account"}}},{"parameters":{"updates":["message"],"additionalFields":{"chatIds":"40281969"}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[48,-384],"id":"77750a1a-5a19-4833-a9cd-f16af8fb99de","name":"Telegram Trigger1","webhookId":"87443191-9562-4d80-a205-f8bc577bf107","credentials":{"telegramApi":{"id":"2ViTvl7ENm2py4zt","name":"Telegram account 2"}},"disabled":true},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"file .md creato","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,-320],"id":"ab801b7b-9809-4bc4-9b39-6dc7756bc702","name":"Send a text message","webhookId":"2f9d4d39-862a-4c26-8050-e425260685d4","credentials":{"telegramApi":{"id":"2ViTvl7ENm2py4zt","name":"Telegram account 2"}}},{"parameters":{"operation":"toText","sourceProperty":"testo_markdown","options":{"fileName":"={{ $('Telegram Trigger1').item.json.message.text }} - {{ $('Telegram Trigger1').item.json.message.date }}.md"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[640,-176],"id":"1f9fa7eb-1802-4b3e-b1a0-1f29e8c0332a","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"6497a1de-2cf7-4adc-b68e-6353d51f91b7","name":"testo_markdown","value":"={{ $json.choices[0].message.content }}\n\n---\nrisposta generata con {{ $json.model }}\nPrompt tokens: {{ $json.usage.prompt_tokens }}\nCompletion Tokens: {{ $json.usage.completion_tokens }}\nTotal Tokens: {{ $json.usage.total_tokens }}","type":"string"},{"id":"048307cb-be8c-427d-8abe-b9488849df11","name":"nome_file","value":"={{ $('Telegram Trigger1').item.json.message.text }} {{ $('Telegram Trigger1').item.json.message.date }}.md","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-176],"id":"d1710ba1-f64c-4b3c-a2a6-bed0c4ab2879","name":"Edit Fields"},{"parameters":{"name":"={{ $('Edit Fields').item.json.nome_file }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Y6EL6DmtLNT27LhirUvaAunQ6aS_kacf","mode":"list","cachedResultName":"FOTORADIO N8N","cachedResultUrl":"https://drive.google.com/drive/folders/1Y6EL6DmtLNT27LhirUvaAunQ6aS_kacf"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[832,-176],"id":"8d96e94a-abc9-422d-a7e8-86ab0b61db5b","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"text"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-288,-176],"id":"e97f497d-6880-4f3a-b2a1-b82e2e6ae681","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"a1c83964-eb94-4db0-9606-806d1e543b28","name":"text","value":"={{ $json[\"text\"] ?? \"niente\" }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,-32],"id":"c9471ddb-eac0-429a-9d17-3ea2fff47bb6","name":"Edit Fields1"},{"parameters":{"jsCode":"const items = $input.all();\nconsole.log(items[0].json.text);  // o qualsiasi campo tu stia passando\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-128,-32],"id":"d89df9e6-a901-447d-b269-8170b0d5e2e7","name":"Code"}],"connections":{"Telegram Trigger1":{"main":[[]]},"Message a model":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7ceea7bb-4aee-42ab-8ce8-2119f075db79","triggerCount":1,"tags":[]}