wf/TELEGRAM DISPATCHER.json
{"createdAt":"2025-07-24T07:05:17.330Z","updatedAt":"2025-07-30T10:05:46.000Z","id":"QRcl2DHPU4cNp1kv","name":"TELEGRAM DISPATCHER","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-784,-48],"id":"296c3e68-f89a-408f-8852-a3bded53b1d4","name":"Telegram Trigger","webhookId":"92a54998-9507-4f64-91f6-461088ce9242","credentials":{"telegramApi":{"id":"F7ZoudlMo9As5nHs","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"Fotoradio","operator":{"type":"string","operation":"contains"},"id":"8fd4ca1e-1577-4766-902b-d5720248ff8f"}],"combinator":"and"},"renameOutput":true,"outputKey":"FOTOGRAFI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"81d15a90-2a00-4214-af53-162f9ee5d15e","leftValue":"={{ $json.message.text }}","rightValue":"Tutto su","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TUTTO SU"}]},"options":{"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-608,-48],"id":"fa18c60a-7e92-4fdc-b03e-fa412e9518c4","name":"Switch","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"028ce4d2-880f-4f31-9717-c6f60e5d77f5","name":"message.text","value":"={{ $json.message.text.replace(\"Fotoradio\", \"\").trim() }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,-1168],"id":"0216eff4-f492-4214-918c-839671c03e4d","name":"Edit Fields"},{"parameters":{"model":"sonar-pro","messages":{"message":[{"content":"=Redigi un commento critico esteso su {{ $json.message.text }}: perché è importante per la fotografia? che impatto ha avuto nel mondo? quali elementi artistici ricorrenti lo definiscono? quali caratteristiche peculiari del personaggio, definiscono l'artista?\nElenca i suoi lavori più importanti. \nInserisci la biografia del personaggio. \nRiporta almeno 10 link che contengano commenti autorevoli sul personaggio o approfondimenti sui suoi lavori.\n\nMetti un tag con il nome del fotografo in input (esempio #Battaglia)\n\nIsola i cognomi dei fotografi che citi nel tuo commento e metti in calce un tag con il cognome (ad es. #Berengo-Gardin).\nFormatta il tuo output in Markdown."}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[-48,-1168],"id":"71558855-a867-45b0-a5e3-d5671b82acc6","name":"Message a model","credentials":{"perplexityApi":{"id":"YUFzaWLAMOrfk9At","name":"Perplexity account"}}},{"parameters":{"chatId":"=40281969","text":"=Nota su obsidian fotoradio creata.\n\nPuoi vederla anche [qui]({{ $json.webViewLink }})","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[704,-1232],"id":"82651bdc-ffed-4c48-b290-1c69e0e49136","name":"Send a text message","webhookId":"2f9d4d39-862a-4c26-8050-e425260685d4","credentials":{"telegramApi":{"id":"F7ZoudlMo9As5nHs","name":"Telegram account"}}},{"parameters":{"operation":"toText","sourceProperty":"testo_markdown","options":{"fileName":"={{ $json.nome_file }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[336,-1168],"id":"d94bb567-772b-456b-b780-f29cd5c46dc6","name":"Convert to File"},{"parameters":{"name":"={{ $('Edit Fields1').item.json.nome_file }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Y6EL6DmtLNT27LhirUvaAunQ6aS_kacf","mode":"list","cachedResultName":"FOTORADIO N8N","cachedResultUrl":"https://drive.google.com/drive/folders/1Y6EL6DmtLNT27LhirUvaAunQ6aS_kacf"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,-1168],"id":"f9270de5-37e2-43bb-9018-7e02f9a913db","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6497a1de-2cf7-4adc-b68e-6353d51f91b7","name":"testo_markdown","value":"={{ $json.choices[0].message.content }}\n\n---\nrisposta generata con {{ $json.model }}\nPrompt tokens: {{ $json.usage.prompt_tokens }}\nCompletion Tokens: {{ $json.usage.completion_tokens }}\nTotal Tokens: {{ $json.usage.total_tokens }}","type":"string"},{"id":"048307cb-be8c-427d-8abe-b9488849df11","name":"nome_file","value":"={{ $('Edit Fields').item.json.message.text.trim() }}-{{ new Date($now).toISOString().split('T')[0] }}.md","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,-1168],"id":"2498c6ad-69c5-48e5-97a4-81fff05b445d","name":"Edit Fields1"},{"parameters":{"content":"## Fotoradio XXX\n\nPrende in input da telegram il nome del fotografo da approfondire (Fotoradio) e crea una breve scheda che salva su drive. poi automator sui miei mac sposta in obsidian nel posto giusto\n\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":352,"width":1120},"type":"n8n-nodes-base.stickyNote","position":[-256,-1344],"typeVersion":1,"id":"3076b6d6-51b3-4cc5-bb91-90214fae1575","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"028ce4d2-880f-4f31-9717-c6f60e5d77f5","name":"message.text","value":"={{ $json.message.text.replace(\"Tutto su\", \"\").trim() }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,-784],"id":"486531af-4730-42b4-b6af-7ae5a7bf7185","name":"Edit Fields2"},{"parameters":{"model":"sonar-pro","messages":{"message":[{"content":"=Hai accesso a internet. Voglio che tu recuperi le notizie più recenti e affidabili su \"{{ $json.message.text }}\"\n\n1. Cerca fonti affidabili (giornali, agenzie, comunicati ufficiali)\n2. Organizza i fatti principali in ordine cronologico\n3. Spiega il contesto\n4. Riporta citazioni o frasi rilevanti da fonti dove possibile\n5. Se ci sono versioni discordanti o ipotesi, esponile\n6. dammi una tua sintesi su cosa può succedere adesso o su quali possono essere le conseguenze di questa notizia\n\nCrea dei blocchi organici per punto elenco e al loro interno rispondi in forma narrativa, come un giornalista finanziario esperto, chiaro e conciso.\n"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[-48,-784],"id":"a1ee587a-d0f4-4e73-a312-6fb15c3fe169","name":"Message a model1","credentials":{"perplexityApi":{"id":"YUFzaWLAMOrfk9At","name":"Perplexity account"}}},{"parameters":{"chatId":"=40281969","text":"=Nota aggiunta su Obsidian WORK. arriverà via email\n\nIntanto puoi vederla [qui]({{ $json.webViewLink }})\n","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[736,-800],"id":"55140667-20c3-4bfb-8ae4-55891ac93731","name":"Send a text message1","webhookId":"2f9d4d39-862a-4c26-8050-e425260685d4","credentials":{"telegramApi":{"id":"F7ZoudlMo9As5nHs","name":"Telegram account"}}},{"parameters":{"name":"={{ $('Edit Fields3').item.json['nome-nota'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C","mode":"list","cachedResultName":"OBSIDIAN WORK","cachedResultUrl":"https://drive.google.com/drive/folders/1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,-784],"id":"49554f59-11f4-44cc-b2cc-38e380d74145","name":"Upload file1","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"operation":"toText","sourceProperty":"risposta-completa","options":{"fileName":"={{ $json['nome-nota'] }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[352,-784],"id":"846916c4-d372-41cd-8a49-0e5c519f3eb9","name":"Convert to File2"},{"parameters":{"assignments":{"assignments":[{"id":"756d4972-e802-48b0-a7c7-2badc555f86e","name":"risposta-completa","value":"={{ $json.choices[0].message.content }}\n\n---\nrisposta generata con {{ $json.model }}\nPrompt tokens: {{ $json.usage.prompt_tokens }}\nCompletion Tokens: {{ $json.usage.completion_tokens }}\nTotal Tokens: {{ $json.usage.total_tokens }}","type":"string"},{"id":"89b8a33a-d4a0-408a-9996-59a491999b33","name":"nome-nota","value":"={{ $('Edit Fields2').item.json.message.text.trim() }}-{{ new Date($now).toISOString().split('T')[0] }}.md","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,-784],"id":"24d4c15b-9a97-4dd5-9235-2fc8a0f0c026","name":"Edit Fields3"},{"parameters":{"content":"## Tutto su XXX\n\nPrende in input da telegram un argomento da approfondire es: \"opa unicredit su banco popolare\" e si va a cercare le fonti più aggiornate creando una nota su drive che poi viene messa in obsidian work e inviato il link su telegram per poterla vedere al volo\n\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":352,"width":1136},"type":"n8n-nodes-base.stickyNote","position":[-256,-960],"typeVersion":1,"id":"1aed5ec7-c3a9-44cb-b424-151eb67c336e","name":"Sticky Note1"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Upload file1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Convert to File2":{"main":[[{"node":"Upload file1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b99ac2ce-6f5a-4a07-98da-33303b8ca06a","triggerCount":1,"tags":[]}