wf/TELEGRAM ASSISTANT.json
{"createdAt":"2025-07-29T15:16:40.141Z","updatedAt":"2025-07-29T20:59:26.000Z","id":"Y8KPTQnHD7xbZlQw","name":"TELEGRAM ASSISTANT","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"chatIds":"40281969"}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1888,0],"id":"affff1ec-5614-430b-9251-1666668b5fee","name":"Telegram Trigger","webhookId":"d7174612-18cd-4023-bd7d-acd44989ec7c","credentials":{"telegramApi":{"id":"F7ZoudlMo9As5nHs","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"=ricevi un messaggio in input\n{{ $json.message.text }}\n\ne devi capire di cosa si tratta per poter scatenare dei workflow successivi che svolgono poi dei compiti.\n\nin un tool trovi le possibili significati che il messaggio potrebbe avere e le conseguenze dell'instradamento.\n\nfinisci il tuo task scrivendo in output SOLTANTO il valore di instradamento senza altre parole\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-1680,0],"id":"86bbda03-49a3-419f-95e8-c9f8b5cdacd6","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"claude-3-haiku-20240307","mode":"list","cachedResultName":"Claude Haiku 3"},"options":{"thinking":false}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-1728,208],"id":"4f57b1c1-8a5c-49e6-8eda-38855b76fb42","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"plCvpG6R0cFbJKu5","name":"Anthropic account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"qui trovi i possibili argomenti di cui parla il messaggio e il codice di instradamento che devi restituire in output","documentId":{"__rl":true,"value":"1nRaSlF3fWtcN__qdYeuR8GnchhU8DJqqh5RGDD5FqIQ","mode":"list","cachedResultName":"TELEGRAM ASSISTANT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nRaSlF3fWtcN__qdYeuR8GnchhU8DJqqh5RGDD5FqIQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nRaSlF3fWtcN__qdYeuR8GnchhU8DJqqh5RGDD5FqIQ/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-1488,208],"id":"a5a09ffa-8b60-4b2d-93c6-ae866b37ed3f","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5a8742f7-9ec5-469b-8637-8582222f2b55","name":"task","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1328,0],"id":"4a898cdd-9db5-4efe-bd78-4b6aca1da9c6","name":"Edit Fields"},{"parameters":{"operation":"sendAndWait","chatId":"40281969","message":"=mi stai parlando di {{ $json.task }} vero?","approvalOptions":{"values":{"approvalType":"double"}},"options":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1120,0],"id":"6807c988-219e-487e-8044-dda79ffef7eb","name":"Send a text message","webhookId":"424f12ce-dbfe-40d3-9e56-3425302cbd83","credentials":{"telegramApi":{"id":"F7ZoudlMo9As5nHs","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9e040f0-6815-4d61-8df6-cfb4b405c7dd","leftValue":"={{ $json.data.approved }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,112],"id":"5f1fa373-2f89-4cc6-9a5a-fce3aef68dfe","name":"If"},{"parameters":{"workflowId":{"__rl":true,"value":"CKBcwWZQcQfM7t4J","mode":"list","cachedResultName":"AUDIO REGISTRAZIONI"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-272,-112],"id":"8c075265-43d8-4861-875b-6449b657fcfc","name":"Execute Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"14aeb349-6887-46f7-b17e-cba38bf52136"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-640,0],"id":"24c6461f-ac1b-4cc9-beda-e908752ed12c","name":"Switch"}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":629423929,"message":{"message_id":482,"from":{"id":40281969,"is_bot":false,"first_name":"alessandro","username":"alstov","language_code":"it"},"chat":{"id":40281969,"first_name":"alessandro","username":"alstov","type":"private"},"date":1753821315,"text":"Mandami file audio"}}}]},"versionId":"6df46b7d-e775-411b-b835-a03768f1702f","triggerCount":1,"tags":[]}