wf/test amazon s3.json
{"createdAt":"2025-07-27T15:00:23.203Z","updatedAt":"2025-07-29T21:09:25.000Z","id":"sLTcyDByJq4F9glk","name":"test amazon s3","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-304,-48],"id":"dcd1326d-0098-4ab9-9883-d3f9bec72445","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"upload","bucketName":"alet313","fileName":"docs/2025/pers.pdf","additionalFields":{}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[96,-240],"id":"10dd7e92-a287-4277-8f9c-2a027995bf74","name":"Upload a file","credentials":{"aws":{"id":"mX49AAxCSrUqGZkZ","name":"AWS account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1ndjShkUeoPVwpbx3NJiOb_zcI6Tuzwat","mode":"list","cachedResultName":"Persp25-033-Italie-Scenario-20250131_EN.pdf","cachedResultUrl":"https://drive.google.com/file/d/1ndjShkUeoPVwpbx3NJiOb_zcI6Tuzwat/view?usp=drivesdk"},"options":{"fileName":"persp.pdf"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-96,-48],"id":"715233ec-6e9a-4ae1-9c98-4cc8660b0691","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e31e003e-a0aa-4dee-a049-ff33e1941ca0","name":"link","value":"={{ \"https://alet313.s3.eu-west-3.amazonaws.com/\" + $json.Key.replace(/\\n/g, \"\").trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,-48],"id":"d9ada771-484d-465e-a2b0-66c1f858559b","name":"Edit Fields"},{"parameters":{"chatId":"40281969","text":"=hei guarda [link]({{ $json.link }})","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[512,144],"id":"779b345f-cff1-4a3a-9c93-d78509f294a8","name":"Send a text message","webhookId":"340261c7-3bed-4b39-9e0e-553272e1b36c","credentials":{"telegramApi":{"id":"F7ZoudlMo9As5nHs","name":"Telegram account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8b4338c6-d79b-4ba0-8162-d111bb27f149","triggerCount":0,"tags":[]}