wf/test pdftotext.json
{"createdAt":"2025-07-26T17:06:02.001Z","updatedAt":"2025-07-26T18:57:04.000Z","id":"CXC9hZChmH28h9uE","name":"test pdftotext","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-416,-336],"id":"fd10e7a2-b7f0-4a96-a1a4-6f419a459877","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1ndjShkUeoPVwpbx3NJiOb_zcI6Tuzwat","mode":"list","cachedResultName":"Persp25-033-Italie-Scenario-20250131_EN.pdf","cachedResultUrl":"https://drive.google.com/file/d/1ndjShkUeoPVwpbx3NJiOb_zcI6Tuzwat/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-240,-336],"id":"8cbd6132-790e-44fb-8a60-012ba4be1a4e","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"operation":"write","fileName":"/tmp/test.pdf","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-32,-336],"id":"46b507e1-77a6-4407-8e7c-3f359248b6ae","name":"Read/Write Files from Disk"},{"parameters":{"command":"pdftotext /tmp/test.pdf -"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[208,-336],"id":"45abca65-cb3c-45d2-a324-86b2ffc26147","name":"Execute Command"},{"parameters":{"promptType":"define","text":"=Ricevi in input un testo che devi sintetizzare. \nScrivi un report in ITALIANO,\nesprimiti in bullet point chiari e dettagliati.\n\ncostruisci una struttura per isolare i diversi argomenti contenuti nel documento,\ne per ciascun punto di struttura, evidenzia i punti chiave, gli argomenti interessanti ed eventuali citazioni prese dal documento (dichiarazioni e, se ci sono, soprattutto numeri).\n\nil testo è questo:\n{{ $json.stdout }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-32,16],"id":"883905e2-dbec-43aa-a9cd-8685f971e4f3","name":"AI Agent"},{"parameters":{"chatId":"40281969","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[128,224],"id":"e21f612c-5226-425d-88bc-21f9d663e8c7","name":"Send a text message in Telegram","webhookId":"f0a0e53d-549d-436c-8e00-461e586f10ce","credentials":{"telegramApi":{"id":"F7ZoudlMo9As5nHs","name":"Telegram account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-176,224],"id":"8864cc8c-0671-4861-bf2b-484f4462c0d3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"qUMJt5QWAuhALJmk","name":"OpenAi account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Send a text message in Telegram":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f09f87e6-3e9f-46fc-82f7-e62182c7875e","triggerCount":0,"tags":[]}