wf/test transcipt video.json
{"createdAt":"2025-07-28T03:24:50.261Z","updatedAt":"2025-07-29T04:24:35.000Z","id":"QAt50HlOM4EzACwE","name":"test transcipt video","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"229543f9-cfcb-4429-a279-0339c310bba2","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","position":[-224,320],"typeVersion":1},{"parameters":{"resource":"playlistItem","operation":"getAll","playlistId":"PLzUm-vGsY5UFnNq3rClsC4VC76bd_zfgp","part":["*","id","contentDetails"],"returnAll":true,"options":{}},"id":"13bbfe09-8899-4ed9-9b49-cee0fc273939","name":"YouTube Playlist","type":"n8n-nodes-base.youTube","position":[128,320],"typeVersion":1,"credentials":{"youTubeOAuth2Api":{"id":"uDUXO66ATfjH79UP","name":"YouTube account"}}},{"parameters":{"content":"## step 1","height":540,"width":940,"color":4},"id":"8e5c841c-0373-4b01-a491-c83fe19f3a33","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Summarize the following podcast script.\nThe summary must be clear, well-organized, and comprehensive.\n\nInclude all important information, data, and key points from the script.\n\nDivide the summary into sections according to the main topics, ideas, or parts discussed in the podcast.\n\nFor each section, list all main points, facts, examples, and arguments mentioned.\n\nDo not omit any significant information or insight.\n\nThe summary should be detailed enough to give a full understanding of the podcast, but avoid unnecessary repetition or filler.\n\nUse headings and bullet points for clarity.\n\nThe result should be useful for someone who has not listened to the podcast but wants to understand all its important content and insights. podcast: {{ $('scirpt').item.json.script }}\n\nAt the end of your summarizion, insert the id of the video: {{ $('Split Out').item.json.videoId }}","options":{}},"id":"fce865ba-329b-4328-94f9-93cb216de2a8","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[2560,160],"typeVersion":2},{"parameters":{"content":"## step 5 : 📊 **Google Sheets3**\n\n## Updates a Google Sheet with video titles, scripts, summaries, and row numbers. ","height":540,"width":440,"color":4},"id":"e956e977-05e0-4dd7-b9c5-7640b5e3c77e","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[3008,0],"typeVersion":1},{"parameters":{"options":{}},"id":"48637dd7-8cc2-414f-b9ef-65ee852cce12","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","position":[1264,320],"typeVersion":3},{"parameters":{"jsCode":"// Combine all \"text\" fields from the content array into one string\nlet script = '';\n\n// Loop through all input items\nfor (const item of items) {\n  if (item.json.content && Array.isArray(item.json.content)) {\n    for (const segment of item.json.content) {\n      if (segment.text) {\n        script += segment.text + ' ';\n      }\n    }\n  }\n}\n\nscript = script.trim();\n\nreturn [\n  {\n    json: {\n      script\n    }\n  }\n];\n"},"id":"df776190-5d29-44db-bfa3-22a859d93aa5","name":"scirpt","type":"n8n-nodes-base.code","position":[1952,320],"typeVersion":2},{"parameters":{"url":"=https://api.supadata.ai/v1/transcript?url=https://youtu.be/{{ $json.videoId}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"sd_d6e96cd1d12c9d262fcb7c5d5950ed7d"}]},"options":{}},"id":"58c95a37-5692-48f6-9520-ab6845ce5eb2","name":"supadata","type":"n8n-nodes-base.httpRequest","position":[1648,320],"typeVersion":4.2},{"parameters":{"functionCode":"// Extract video URLs, titles, and add an id starting from 2\nreturn items.map((item, index) => {\n  const videoId = item.json.snippet.resourceId.videoId;\n  const title = item.json.snippet.title;\n  return {\n    json: {\n      id: index + 2,\n      url: `https://www.youtube.com/watch?v=${videoId}`,\n      title: title\n    }\n  };\n});\n"},"id":"19c43c58-a867-4488-b9d6-8a99204becd1","name":"titles/URL","type":"n8n-nodes-base.function","position":[432,352],"typeVersion":1},{"parameters":{"jsCode":"return items.map((item, index) => {\n  // Get the URL and title from the input\n  const url = item.json.url;\n  const title = item.json.title || null;\n  // Extract the video ID from the URL\n  let videoId = null;\n  if (url && url.includes('v=')) {\n    videoId = url.split('v=')[1].split('&')[0];\n  }\n  // id starts from 1; change to index+2 if you want to start from 2\n  return {\n    json: {\n      id: index + 2,\n      videoId,\n      title\n    }\n  };\n});\n"},"id":"36de6799-925d-41c3-8d55-5448a1b1918f","name":"video ID","type":"n8n-nodes-base.code","position":[720,256],"typeVersion":2},{"parameters":{"jsCode":"// Get the script text\nconst script = items[0].json.script || \"\";\n\n// Split into sentences using a regular expression\nconst sentences = script.match(/[^\\.!\\?]+[\\.!\\?]+/g) || [];\n\n// Get the first 10 sentences (or fewer if less than 10)\nconst firstTen = sentences.slice(0, 5).join(' ').trim();\n\nreturn [\n  {\n    json: {\n      firstTenSentences: firstTen\n    }\n  }\n];\n"},"id":"c122020f-aaf8-47ef-8c35-f960b1c690be","name":"Code1","type":"n8n-nodes-base.code","position":[2224,320],"typeVersion":2},{"parameters":{"fieldToSplitOut":"id, videoId, title","include":"selectedOtherFields","fieldsToInclude":"={{ $('titles/URL').item.json.url }}","options":{}},"id":"d13879d6-5346-4abd-9bbb-07cf0766193b","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[1072,320],"typeVersion":1},{"parameters":{"content":"📺 **YouTube Playlist**\n\nFetches all videos from a specific YouTube playlist.\n\n**How to change:** Change the `playlistId` to use a different playlist. Adjust `part` to fetch different details. Change credentials for another YouTube account.","height":420,"width":260,"color":5},"id":"a0143de5-c108-4823-8d62-a45bf5891bf2","name":"YouTube Playlist Note","type":"n8n-nodes-base.stickyNote","position":[48,80],"typeVersion":1},{"parameters":{"content":"🔗 **titles/URL (Function Node)**\n\nExtracts video URLs and titles from the playlist data and assigns a row ID.\n","height":420,"width":260,"color":5},"id":"9be2ba49-36b1-4955-9ce7-f20a03c0cc4f","name":"titles/URL Note","type":"n8n-nodes-base.stickyNote","position":[352,80],"typeVersion":1},{"parameters":{"content":"🆔 **video ID (Code Node)**\n\nExtracts the video ID from each YouTube URL.\n","height":420,"width":260,"color":5},"id":"84f9ef12-1bb8-40ec-a86e-d930ed3f124a","name":"video ID Note","type":"n8n-nodes-base.stickyNote","position":[640,80],"typeVersion":1},{"parameters":{"content":"📝 **supadata (HTTP Request Node)**\n\nCalls the Supadata API to get the transcript for each video.\n\n**How to change:** Update the API URL or key if the service changes. Modify request headers or parameters for other APIs.","height":440,"width":260,"color":5},"id":"a4b602fe-4bc7-4caf-aad8-3d1db95f99f5","name":"supadata Note","type":"n8n-nodes-base.stickyNote","position":[1568,64],"typeVersion":1},{"parameters":{"content":"📜 **scirpt (Code Node)**\n\nCombines the transcript segments into a single script string.\n\n**How to change:** Change logic to format or preprocess the script differently (e.g., filter out certain lines).","height":440,"color":5},"id":"badff0f1-46c7-46a1-9ab2-c600508e56c1","name":"scirpt Note","type":"n8n-nodes-base.stickyNote","position":[1872,64],"typeVersion":1},{"parameters":{"content":"✂️ **Code1 (Code Node)**\n\nExtracts the first few sentences from the script for summarization.\n\n**How to change:** Adjust the number of sentences extracted. Change the splitting logic for different transcript formats.","height":440,"color":5},"id":"44d911e8-d8e3-4013-b580-8dddb69f93fd","name":"Code1 Note","type":"n8n-nodes-base.stickyNote","position":[2160,64],"typeVersion":1},{"parameters":{"content":"## step 2","height":540,"width":440,"color":4},"id":"c563593c-efd5-4c61-98a1-2063b9aabad7","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[1008,0],"typeVersion":1},{"parameters":{"content":"## step 3","height":540,"width":940,"color":4},"id":"4be4f3af-ec82-4fe3-b78e-6da7eb0ca75e","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[1504,0],"typeVersion":1},{"parameters":{"content":"## step 4 : 🤖 **Groq Chat Model (LLM Node)**\n\nchange the prompt if you want or change the ai model","height":540,"width":480,"color":4},"id":"365b2640-8579-42a5-8ecb-7dad04b9d1af","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[2480,0],"typeVersion":1},{"parameters":{"model":{"__rl":true,"value":"claude-3-haiku-20240307","mode":"list","cachedResultName":"Claude Haiku 3"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2560,368],"id":"d4c86b2f-0f19-460d-9875-d60baf61cee1","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"plCvpG6R0cFbJKu5","name":"Anthropic account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"url","value":"REDACTED"},"sheetName":{"__rl":true,"mode":"list","value":"REDACTED","cachedResultUrl":"REDACTED","cachedResultName":"Sheet1"},"columns":{"value":{"script":"={{ $('scirpt').item.json.script }}","summery":"={{ $json.output }}","row_number":"={{ $('Loop Over Items1').item.json.id }}","video titles":"={{ $('Loop Over Items1').item.json.title }}"},"schema":[{"id":"video titles","type":"string","display":true,"removed":false,"required":false,"displayName":"video titles","defaultMatch":false,"canBeUsedToMatch":true},{"id":"script","type":"string","display":true,"required":false,"displayName":"script","defaultMatch":false,"canBeUsedToMatch":true},{"id":"summery","type":"string","display":true,"required":false,"displayName":"summery","defaultMatch":false,"canBeUsedToMatch":true},{"id":"row_number","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"row_number","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["row_number"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"306bb003-7115-4f64-8552-a4a38134be1e","name":"Update row in sheet","type":"n8n-nodes-base.googleSheets","position":[3184,400],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}},"disabled":true},{"parameters":{"operation":"createFromText","content":"={{ $json.output }}","name":"={{ $('Split Out').item.json.title }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1IorBNuQUFKn3zqcfzBxnLQNJMK6cz3-7","mode":"list","cachedResultName":"temp","cachedResultUrl":"https://drive.google.com/drive/folders/1IorBNuQUFKn3zqcfzBxnLQNJMK6cz3-7"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3456,432],"id":"a14258ba-a14c-4d74-a5f8-55ffc91c3df7","name":"Create file from text","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"content":"## I'm a note \n**Double click** to edit me. \nAgg\n\n[Guide](https://docs.n8n.io/workflows/sticky-notes/)iungimo transcript in calcea nota. \nProponiamo sistema di collocamento della nota (work! Fs24, Antropocene via trlegram e agente Qi per spostare la nota nell’obsidian giusto"},"type":"n8n-nodes-base.stickyNote","position":[1760,-1488],"typeVersion":1,"id":"bf655f0b-420e-42d8-8781-9a38a2d37ec2","name":"Sticky Note"}],"connections":{"Code1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"scirpt":{"main":[[{"node":"Code1","type":"main","index":0}]]},"supadata":{"main":[[{"node":"scirpt","type":"main","index":0}]]},"video ID":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Update row in sheet","type":"main","index":0},{"node":"Create file from text","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"titles/URL":{"main":[[{"node":"video ID","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"supadata","type":"main","index":0}]]},"YouTube Playlist":{"main":[[{"node":"titles/URL","type":"main","index":0}]]},"When clicking 'Execute workflow'":{"main":[[{"node":"YouTube Playlist","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Create file from text":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c1cb96cb-954d-42eb-97f6-4bf5ca9dc502","triggerCount":0,"tags":[]}