wf/TOP WORK REPORTS.json
{"createdAt":"2025-08-04T07:27:44.867Z","updatedAt":"2025-08-04T08:05:10.000Z","id":"NessQW8quThDmSNF","name":"TOP WORK REPORTS","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-496,-16],"id":"6adecef9-1990-4877-94a1-a17ff5776321","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"19wFTlSI4IpZy2k050vs8JrjBYVBYNcvqbEsqzHkfNDE","mode":"list","cachedResultName":"TOP WORK REPORTS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19wFTlSI4IpZy2k050vs8JrjBYVBYNcvqbEsqzHkfNDE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19wFTlSI4IpZy2k050vs8JrjBYVBYNcvqbEsqzHkfNDE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-144,-16],"id":"01eea356-6950-4e12-87a6-bce93a13b07b","name":"GET JOBS","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"20ec1791-6485-4829-8b7f-5cb652d8c7d6","name":"day","value":"={{ new Date().toLocaleString('en-US', { weekday: 'long', timeZone: 'Europe/Rome' }).toLowerCase().slice(0, 3) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,160],"id":"01c7b92c-dc09-4fac-aac2-a809328874d9","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e826054-be76-4e48-836f-0f41a5bf5596","leftValue":"={{ $json.schedule }}","rightValue":"={{ $('Edit Fields').item.json.day }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,-16],"id":"d576352c-1ea0-4018-83af-9a8c0cfffbe7","name":"If"},{"parameters":{"model":"sonar-deep-research","messages":{"message":[{"content":"={{ $('GET JOBS').item.json.report_prompt }}.\n\nRitorna il tuo output in formato markdown"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[272,-192],"id":"17239247-ded9-41f7-a0a0-5d9913bd88fa","name":"Message a model","credentials":{"perplexityApi":{"id":"YUFzaWLAMOrfk9At","name":"Perplexity account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"GET JOBS":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"GET JOBS","type":"main","index":0}]]},"If":{"main":[[{"node":"Message a model","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6480f922-d7b1-4415-a437-a7e8fef75b12","triggerCount":0,"tags":[]}