wf/TOP WORK REPORTS.json
{"createdAt":"2025-08-04T07:27:44.867Z","updatedAt":"2025-08-04T09:10:08.000Z","id":"NessQW8quThDmSNF","name":"TOP WORK REPORTS","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-496,-16],"id":"6adecef9-1990-4877-94a1-a17ff5776321","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"19wFTlSI4IpZy2k050vs8JrjBYVBYNcvqbEsqzHkfNDE","mode":"list","cachedResultName":"TOP WORK REPORTS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19wFTlSI4IpZy2k050vs8JrjBYVBYNcvqbEsqzHkfNDE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19wFTlSI4IpZy2k050vs8JrjBYVBYNcvqbEsqzHkfNDE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-144,-16],"id":"01eea356-6950-4e12-87a6-bce93a13b07b","name":"GET JOBS","credentials":{"googleSheetsOAuth2Api":{"id":"5QgsfxuAp5j9dKcK","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"20ec1791-6485-4829-8b7f-5cb652d8c7d6","name":"day","value":"={{ new Date().toLocaleString('en-US', { weekday: 'long', timeZone: 'Europe/Rome' }).toLowerCase().slice(0, 3) }}","type":"string"},{"id":"86c1994d-138d-47a5-bf1c-091da93c0351","name":"data","value":"={{ $now.toString().slice(0, 10) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,160],"id":"01c7b92c-dc09-4fac-aac2-a809328874d9","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8e826054-be76-4e48-836f-0f41a5bf5596","leftValue":"={{ $json.schedule }}","rightValue":"={{ $('Edit Fields').item.json.day }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,-16],"id":"d576352c-1ea0-4018-83af-9a8c0cfffbe7","name":"If"},{"parameters":{"model":"sonar-deep-research","messages":{"message":[{"content":"=Sei un assistente globale esperto in approfondimenti su fonti di tutto il mondo.\nIl tuo output include nel corpo tutti i link con i riferimenti ed è in formato markdown","role":"system"},{"content":"={{ $('GET JOBS').item.json.report_prompt }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[272,-192],"id":"17239247-ded9-41f7-a0a0-5d9913bd88fa","name":"Message a model","credentials":{"perplexityApi":{"id":"YUFzaWLAMOrfk9At","name":"Perplexity account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b5959864-315d-4017-af33-e17f0f12473e","name":"filetext","value":"={{ $json.choices[0].message.content }}\n\n---\n\nrisposta generata con {{ $json.model }} Prompt tokens: {{ $json.usage.prompt_tokens }} Completion Tokens: {{ $json.usage.completion_tokens }} Total Tokens: {{ $json.usage.total_tokens }}","type":"string"},{"id":"3817e267-8d33-4985-a6bd-04906c49d8f0","name":"filename","value":"=report_{{ $('GET JOBS').item.json.report_key }}-{{ $('Edit Fields').item.json.data }}.md","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,-192],"id":"20a14c30-2453-44bb-81af-d15b7b2e9e45","name":"Edit Fields1"},{"parameters":{"operation":"createFromText","content":"={{ $json.filetext }}","name":"={{ $json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C","mode":"list","cachedResultName":"OBSIDIAN WORK","cachedResultUrl":"https://drive.google.com/drive/folders/1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[592,-192],"id":"f6944259-efd1-4643-bff1-7ff2fd0bae7d","name":"Create file from text","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Drive MBHR"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"GET JOBS":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"GET JOBS","type":"main","index":0}]]},"If":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Create file from text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f0e431aa-7e3d-4f6d-9074-a68c38cc6b5c","triggerCount":0,"tags":[]}