wf/TOP NEWS.json
{"createdAt":"2025-07-30T09:56:40.516Z","updatedAt":"2025-07-30T10:20:34.000Z","id":"FEsCXLFvMNlzisqD","name":"TOP NEWS","active":true,"isArchived":false,"nodes":[{"parameters":{"model":"sonar","messages":{"message":[{"content":"=Ritornami le notizie più importanti di questa ultima settimana sul tema dei consumi delle famiglie, dei acquisti di beni durevoli, del credito al consumo.\n\nFormatta l'output in formato markdown e metti i link alle notizie relative, direttamente nel testo della risposta"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexity","typeVersion":1,"position":[272,-240],"id":"e4e2525f-68b4-47bd-b6e0-01cb6c0ea339","name":"Message a model","credentials":{"perplexityApi":{"id":"YUFzaWLAMOrfk9At","name":"Perplexity account"}}},{"parameters":{"chatId":"=40281969","text":"=Nota su Top News della settimana creata e inviata per posta per aggiornare obsidian sulla tua macchina\n\nPuoi vederla anche [qui]({{ $json.webViewLink }})","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1024,-240],"id":"f6e88b69-e42b-4062-a3fb-78ab2da2c0b6","name":"Send a text message","webhookId":"2f9d4d39-862a-4c26-8050-e425260685d4","credentials":{"telegramApi":{"id":"F7ZoudlMo9As5nHs","name":"TELEGRAM MBHR"}}},{"parameters":{"operation":"toText","sourceProperty":"testo_markdown","options":{"fileName":"={{ $json.nome_file }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[672,-240],"id":"14600259-4f63-45ba-a80b-f992e388f683","name":"Convert to File"},{"parameters":{"name":"={{ $('Edit Fields1').item.json.nome_file }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C","mode":"list","cachedResultName":"OBSIDIAN WORK","cachedResultUrl":"https://drive.google.com/drive/folders/1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[848,-240],"id":"4af5cf52-7d3f-44ca-870f-64b0d8ca5ab3","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6497a1de-2cf7-4adc-b68e-6353d51f91b7","name":"testo_markdown","value":"={{ $json.choices[0].message.content }}\n\n---\nrisposta generata con {{ $json.model }}\nPrompt tokens: {{ $json.usage.prompt_tokens }}\nCompletion Tokens: {{ $json.usage.completion_tokens }}\nTotal Tokens: {{ $json.usage.total_tokens }}","type":"string"},{"id":"048307cb-be8c-427d-8abe-b9488849df11","name":"nome_file","value":"=TOPNEWS-{{ new Date($now).toISOString().split('T')[0] }}.md","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,-240],"id":"bb33dd2b-f9c9-44df-bbb9-e98e31da2ca9","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[16,-16],"id":"ed37904a-7ceb-4ab2-90ce-01413dd6788a","name":"Schedule Trigger"},{"parameters":{"content":"## CONSUMI\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":176,"width":1120},"type":"n8n-nodes-base.stickyNote","position":[208,-352],"typeVersion":1,"id":"1f48a177-59a5-42ce-92a8-88225353c71a","name":"Sticky Note"}],"connections":{"Message a model":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Message a model","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c6f9abd7-8341-4f29-9d23-f06b4792e96f","triggerCount":1,"tags":[]}