wf/WORK OBSIDIAN UPDATED.json
{"createdAt":"2025-07-24T14:38:31.536Z","updatedAt":"2025-07-30T10:18:41.000Z","id":"zIcFsA6M7om3Olf0","name":"WORK OBSIDIAN UPDATED","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C","mode":"list","cachedResultName":"OBSIDIAN WORK","cachedResultUrl":"https://drive.google.com/drive/folders/1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-336,0],"id":"fafd1dec-8543-4815-bfc0-2852aecff678","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"sendTo":"a.tovani@agos.it","subject":"obsidian update","message":"Ecco gli aggiornamenti note per Obsidian. Ciao.","options":{"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[176,0],"id":"f2c82fe0-033d-4a1f-9bb2-856e824c040d","name":"Send a message","webhookId":"814a76b3-4b12-46d9-97da-3a5c5c30b3ea","credentials":{"gmailOAuth2":{"id":"aAtLFvhojlgJnJxe","name":"Gmail account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-80,0],"id":"82486ef2-606e-43b8-9d49-dcffe2da5413","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-08-18T05:01:34Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8f5a539f-dc60-4724-ab30-aaf2730ae608","triggerCount":1,"tags":[]}