wf/WORK OBSIDIAN UPDATED.json
{"createdAt":"2025-07-24T14:38:31.536Z","updatedAt":"2025-07-27T16:48:32.000Z","id":"zIcFsA6M7om3Olf0","name":"WORK OBSIDIAN UPDATED","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C","mode":"list","cachedResultName":"OBSIDIAN WORK","cachedResultUrl":"https://drive.google.com/drive/folders/1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-336,0],"id":"fafd1dec-8543-4815-bfc0-2852aecff678","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}},{"parameters":{"sendTo":"a.tovani@agos.it","subject":"obsidian update","message":"Ecco gli aggiornamenti note per Obsidian. Ciao.","options":{"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[208,0],"id":"f2c82fe0-033d-4a1f-9bb2-856e824c040d","name":"Send a message","webhookId":"814a76b3-4b12-46d9-97da-3a5c5c30b3ea","credentials":{"gmailOAuth2":{"id":"aAtLFvhojlgJnJxe","name":"Gmail account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-48,0],"id":"82486ef2-606e-43b8-9d49-dcffe2da5413","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"ygl9hlF7DJuliHDQ","name":"Google Drive account"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Send a message":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-07-29T18:49:01Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Drive Trigger":[{"json":{"parents":["1-ySrmLmrP3JbjZhMjfHnFv9T33vsM11C"],"lastModifyingUser":{"displayName":"Mbhr Live","kind":"drive#user","me":true,"permissionId":"10356324454682366944","emailAddress":"mbhrlive@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocJqcSm-m2etTaSiTRfndWNf1e7psaH2dgrBJRK83siqy6SP7w=s64"},"owners":[{"displayName":"Mbhr Live","kind":"drive#user","me":true,"permissionId":"10356324454682366944","emailAddress":"mbhrlive@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocJqcSm-m2etTaSiTRfndWNf1e7psaH2dgrBJRK83siqy6SP7w=s64"}],"permissions":[{"kind":"drive#permission","id":"10356324454682366944","type":"user","emailAddress":"mbhrlive@gmail.com","role":"owner","displayName":"Mbhr Live","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocJqcSm-m2etTaSiTRfndWNf1e7psaH2dgrBJRK83siqy6SP7w=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeItemDownloadRestriction":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["10356324454682366944"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"downloadRestrictions":{"itemDownloadRestriction":{"restrictedForReaders":false,"restrictedForWriters":false},"effectiveDownloadRestrictionWithContext":{"restrictedForReaders":false,"restrictedForWriters":false}},"kind":"drive#file","id":"1P62plB0b9aDNxmtz_WSuEozP7s-BYPa-","name":"new worknote.zip","mimeType":"application/zip","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"2","webContentLink":"https://drive.google.com/uc?id=1P62plB0b9aDNxmtz_WSuEozP7s-BYPa-&export=download","webViewLink":"https://drive.google.com/file/d/1P62plB0b9aDNxmtz_WSuEozP7s-BYPa-/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/zip","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":true,"viewedByMeTime":"2025-07-24T14:37:03.916Z","createdTime":"2025-07-24T14:37:03.916Z","modifiedTime":"2025-07-24T14:37:02.784Z","modifiedByMeTime":"2025-07-24T14:37:02.784Z","modifiedByMe":true,"shared":false,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"new worknote.zip","fullFileExtension":"zip","fileExtension":"zip","md5Checksum":"3902f96bbb0cc71bfff0e81324bda8e0","sha1Checksum":"1b1ade95ed67d54c15add5729b6e1f69ee049c99","sha256Checksum":"22b110ce04d877930d13223a86c83143cf0c3cdb2ce25621e7eb94514973b9e4","size":"308","quotaBytesUsed":"308","headRevisionId":"0BwgXNBdDfXDYaEJSL2M3N05vNVZzcCtkVDBLQ2xicnJsTTlBPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}}]},"versionId":"e6b9af0c-3d17-499d-ab16-05b652db4c95","triggerCount":1,"tags":[]}